
@media (max-width: 1200px) {

  $baseFontSize: 75;
  @function px2rem($px) {
    @return $px /$baseFontSize * 1rem;
  }
  .funapp-service-law-head{
    .h-fot .h-fot-nav {
      float: none;
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 0  px2rem(16);
      a{
        &:nth-child(1){
          width: 3em;
        }
        &:nth-child(2){
          width: 2em;
        }
        &:nth-child(3){
          width: 5em;
        }
        &:nth-child(4){
          width: 4em;
        }
        &:nth-child(5){
          width: 2em;
        }
        &:nth-child(6){
          width: 2em;
        }
        &:nth-child(7){
          width: 3em;
        }
        &:nth-child(8){
          width: 2em;
        }
      }
    }
  }
 .law-box{
  .flexbox{
    flex-direction: column;
  }
  .page-title2 {
    display: block;
    text-align: center;
  }

  .page-title2 > h3 {
    display: inline-block;
    font-size: px2rem(36);
    line-height: px2rem(40);
    padding-bottom: px2rem(19);
  }
  .law-desc {
    width: auto !important;
    color: var(--font-color-text);
    font-size: px2rem(20);
    line-height: px2rem(30);
    margin: 0 px2rem(16) px2rem(40);
  }
}}
