<!DOCTYPE html>
<html lang="en">

<head th:replace="public/head::head('园区互动专区详情')"></head>

<body>
<header th:replace="public/header"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>

    <section>
        <section>
            <div class="wrapper">
                <div class="company-detail-wrap">
                    <div class="company-detail-content">
                        <h3>吉利</h3>
                        <div>
                            <p>2022.07.04 来源：原创 分享</p>
                        </div>
                        <div class="company-detail-desc">
                            摘要：吉利卫星互联网项目位于上合示范区尚德大道，属新一代信息技术项目。由吉利科技集团旗下的浙江时空道宇有限公司投资建设，总投资41.2亿元，占地30亩，规划建筑面积5.3万平方米。
                        </div>
                        <p class="detail-content-text text-indent">项目主要建设全球物联星座业务总部、智慧物流应用基地、智慧海洋应用基地、终端模组设计研发中心等。项目将在国内首次采用一箭九星的发射模式，计划3年内发射部署72颗卫星，共计8个轨道面，每轨部署9颗星。</p>
                        <p class="img"><img th:src="@{/images/gelly1.png}" alt=""></p>
                        <p class="detail-content-text text-indent">项目自2020年8月启动，4月份正式开工建设，目前正在进行基础年内计划完成投资5亿元，2022年12月竣工。该项目投资强度达1.37亿元/亩，是胶州亩均投资最大的项目。</p>
                        <p class="img"><img th:src="@{/images/gelly2.png}" alt=""></p>
                        <p class="detail-content-text text-indent">项目自2020年8月启动，4月份正式开工建设，目前正在进行基础年内计划完成投资5亿元，2022年12月竣工。该项目投资强度达1.37亿元/亩，是胶州亩均投资最大的项目。</p>
                        <p class="img"><img th:src="@{/images/gelly3.png}" alt=""></p>
                        <div class="company-detail-download">
                            <h5>相关附件</h5>
                            <ul>
                                <li>
                                    <a href="">“一带一路”能源国际合作新平台.pdf</a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="">合作层次逐渐加深，合作方式不断创新.pdf</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="company-detail-more">
                        <h4>其他企业</h4>
                        <div class="company-grid-wrap3">
                            <a href="./ci_company_detail.html" class="company-grid-item3">
                                <img th:src="@{/images/company1.png}" alt="">
                            </a>
                            <a href="./ci_company_detail.html" class="company-grid-item3">
                                <img th:src="@{/images/company2.png}" alt="">
                            </a>
                            <a href="./ci_company_detail.html" class="company-grid-item3">
                                <img th:src="@{/images/company3.png}" alt="">
                            </a>
                            <a href="./ci_company_detail.html" class="company-grid-item3">
                                <img th:src="@{/images/company4.png}" alt="">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>



    </section>
<footer th:replace="public/footer"></footer>

    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

    <script src="js/jquery.countup.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/qing.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script>
    </script>
</body>

</html>