<!DOCTYPE html>
<html lang="en">

<head th:replace="public/head::head('新区之窗')"></head>

<body>
<header th:replace="public/header"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>


    <section>
        <section>
            <div class="wrapper">
                <div class="page-title">
                    <h3>[[#{LeadingEnterprises}]]</h3>
                </div>
                <div class="company-grid-wrap">
                    <a href="/ci/company_detail" class="company-grid-item">
                        <img th:src="@{/images/company1.png}" alt="">
                    </a>
                    <a href="/ci/company_detail" class="company-grid-item">
                        <img th:src="@{/images/company2.png}" alt="">
                    </a>
                    <a href="/ci/company_detail" class="company-grid-item">
                        <img th:src="@{/images/company3.png}" alt="">
                    </a>
                    <a href="/ci/company_detail" class="company-grid-item">
                        <img th:src="@{/images/company4.png}" alt="">
                    </a>
                    <a href="/ci/company_detail" class="company-grid-item">
                        <img th:src="@{/images/company5.png}" alt="">
                    </a>
                    <a href="/ci/company_detail" class="company-grid-item">
                        <img th:src="@{/images/company6.png}" alt="">
                    </a>
                    <a href="/ci/company_detail" class="company-grid-item">
                        <img th:src="@{/images/company7.png}" alt="">
                    </a>
                    <a href="/ci/company_detail" class="company-grid-item">
                        <img th:src="@{/images/company8.png}" alt="">
                    </a>
                    <a href="/ci/company_detail" class="company-grid-item">
                        <img th:src="@{/images/company9.png}" alt="">
                    </a>
                    <a href="/ci/company_detail" class="company-grid-item">
                        <img th:src="@{/images/company10.png}" alt="">
                    </a>

                </div>

            </div>

        </section>


    </section>

    <footer th:replace="public/footer"></footer>

    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

    <script src="js/jquery.countup.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/qing.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script>
    </script>
</body>

</html>