<!DOCTYPE html>
<html lang="en">

<head th:replace="public/head::head('贸易合作')"></head>

<body>
<header th:replace="public/header"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>

<section>
    <section>
        <div class="wrapper">
            <div class="page-title">
                <h3>大事记</h3>
            </div>
            <div class="timeline-wrap">
                <div class="timeline-left">
                    <div class="timeline-item">
                        <p>2018年6月10日</p>
                        <img src="../images/greate2.png" alt="">
                        <h4>中央深改委会议审议通过总体方案</h4>
                        <p>中央全面深化改革委员会第九次会议审议通过了《中国—上海合作组织地方经贸合作示范区建设总体方案》，指明上合示范区的目标定位和发展路径。</p>
                        <div class="dot"></div>
                    </div>
                    <div class="timeline-item">
                        <p>2019年10月20日</p>
                        <img src="../images/greate4.png" alt="">
                        <h4>商务部印发总体方案</h4>
                        <p>商务部、山东省人民政府联合印送了《建设总体方案》的函。至此，上合示范区有了“指导手册”和“操作指南”。</p>
                        <div class="dot"></div>
                    </div>
                    <div class="timeline-item">
                        <p>2020年11月30日</p>
                        <img src="../images/greate6.png" alt="">
                        <h4>上合组织政府首脑会议支持建立上合组织成员国技术转移中心</h4>
                        <p>2020年11月30日，上海合作组织成员国政府首脑（总理）理事会第十九次会议联合公报显示，各代表团团长强调，支持共同研究在青岛建立上合组织成员国技术转移中心的问题。</p>
                        <div class="dot"></div>
                    </div>
                </div>
                <div class="timeline-center">
                    <div class="line"></div>
                </div>
                <div class="timeline-right">
                    <div class="timeline-item">
                        <p>2018年6月10日</p>
                        <img src="../images/greate1.png" alt="">
                        <h4>中国政府支持在青岛建设上合示范区</h4>
                        <p>国家主席习近平在上海合作组织成员国元首理事会第十八次会议上正式宣布：“中国政府支持在青岛建设中国-上海合作组织地方经贸合作示范区”。标志着上合示范区的正式成立。</p>
                        <div class="dot"></div>
                    </div>
                    <div class="timeline-item">
                        <p>2019年9月20日</p>
                        <img src="../images/greate3.png" alt="">
                        <h4>国务院批复总体方案</h4>
                        <p>国务院批复《中国—上海合作组织地方经贸合作示范区建设总体方案》。</p>
                        <div class="dot"></div>
                    </div>
                    <div class="timeline-item">
                        <p>2020年11月10日</p>
                        <img src="../images/greate5.png" alt="">
                        <h4>上合组织元首理事会宣言欢迎建设上合示范区的倡议</h4>
                        <p>
                            发布的《上海合作组织成员国元首理事会莫斯科宣言》指出，成员国将继续加强地方合作，欢迎中方关于在青岛建设中国—上合组织地方经贸合作示范区的倡议，充分体现了成员国各方对上合示范区建设的支持、肯定和期待。</p>
                        <div class="dot"></div>
                    </div>
                    <div class="timeline-item">
                        <p>2020年11月30日</p>
                        <img src="../images/greate7.png" alt="">
                        <h4>加快中国-上合组织地方经贸合作示范区建设</h4>
                        <p>
                            李克强出席上海合作组织成员国政府首脑（总理）理事会第十九次会议时表示，中方将发布“中国对上合组织成员国贸易指数”，加快中国-上合组织地方经贸合作示范区、上合组织农业技术交流培训示范基地建设，推动上合组织务实合作朝着纵深方向发展。</p>
                        <div class="dot"></div>
                    </div>
                </div>
            </div>

        </div>
    </section>

</section>
<footer th:replace="public/footer"></footer>

<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
<script src="../js/swiper-bundle.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

<script src="js/jquery.countup.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/qing.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script>
</script>
</body>

</html>