<!DOCTYPE html>
<html lang="en">

<head th:replace="public/head::head('时政要闻')"></head>

<body>
<header th:replace="public/header"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>
<section>
    <section>
        <div class="gray-bg">
            <div class="wrapper">
                <div class="page-title">
                    <h3>时政要闻</h3>
                </div>
                <div class="sound-grid-wrap">
                    <a href="/article/16">
                        <div class="sound-grid-item scale">
                            <div class="img">
                                <img src="https://cloud-assets-brwq.oss-cn-heyuan.aliyuncs.com/sh0722/uploads/20220722/42dd4d3bc4825f56fc857a78286ecea2.jpg" alt="">
                            </div>
                            <p class="t1 ellipsis1">“第五届上合组织国家中文书法大赛”颁奖典礼暨获奖作品展在京举行</p>
                            <p class="t2">2022年07月14日</p>
                        </div>
                    </a>
                    <a href="/article/17">
                        <div class="sound-grid-item scale">
                            <div class="img"><img src="" alt="" onerror="this.src='https://cloud-assets-brwq.oss-cn-heyuan.aliyuncs.com/sh0722/uploads/20220722/6f99e70d29e4df3058f9484dba0d2390.png';this.οnerrοr=null">
                            </div>

                            <p class="t1 ellipsis1">李刚赴文化和旅游部拜访</p>
                            <p class="t2">2022年07月18日</p>
                        </div>
                    </a>
                    <a href="/article/18">
                        <div class="sound-grid-item scale">
                            <div class="img">
                                <img src="https://cloud-assets-brwq.oss-cn-heyuan.aliyuncs.com/sh0722/uploads/20220722/a23d97ddb3db53e0f17e8d27253ab2c6.jpg" alt="">
                            </div>
                            <p class="t1 ellipsis1">李刚会见青岛市政府副秘书长赵发海一行</p>
                            <p class="t2">2022年06月14日</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="wrapper">
            <div class="sound-list-wrap">
                <ul>
                    <a href="/article/19" class="sound-list-item scale">
                        <div class="img">
                            <img src="https://cloud-assets-brwq.oss-cn-heyuan.aliyuncs.com/sh0722/uploads/20220722/4bd98a624f9025ced6fec14fb558f9a7.jpg" alt="">
                        </div>
                        <div class="sound-list-right">
                            <p class="t1 ellipsis1">李刚与青岛市农业农村局领导座谈</p>
                            <p class="t3">7月21日，青岛市委农办主任，市农业农村局党组书记、局长，市乡村振兴局局长袁瑞先一行到上合示范区调研涉农企业、探讨农业全域发展等相关工作。上合示范区党工委副书记、管委会常务副主任李刚在上合服务中心与袁瑞先进行座谈。</p>
                            <div class="flexbox _content-sb">
                                <p class="t2">2022年07月11日</p>
                                <div class="theme-button">[[#{Learnmore}]]</div>
                            </div>
                        </div>
                    </a>
                    <a href="/article/20" class="sound-list-item scale">
                        <div class="img">
                            <img src="https://cloud-assets-brwq.oss-cn-heyuan.aliyuncs.com/sh0722/uploads/20220722/853db4d204d5ef02f024c59748c83006.jpg" alt="">
                        </div>
                        <div class="sound-list-right">
                            <p class="t1 ellipsis1">上合新区高质量发展专家研讨会在京召开 </p>
                            <p class="t3">7月18日，由山东胶州市委市政府、中国社会科学院“一带一路”国际智库主办，蓝迪国际智库、胶州市发展研究中心承办的上合新区高质量发展专家研讨会在北京召开。会议旨在通过分析全球形势与上合组织相关国家最新情况，研讨上合新区的发展环境、目标定位及未来建设方向。</p>
                            <div class="flexbox _content-sb">
                                <p class="t2">2022年07月11日</p>
                                <div class="theme-button">[[#{Learnmore}]]</div>
                            </div>
                        </div>
                    </a>

                    <a href="/article/21" class="sound-list-item scale">
                        <div class="img">
                            <img src="https://cloud-assets-brwq.oss-cn-heyuan.aliyuncs.com/sh0722/uploads/20220722/40a24c54e74b174ae139adf79cdf80d2.jpg" alt="">
                        </div>
                        <div class="sound-list-right">
                            <p class="t1 ellipsis1">上合新区一体化发展工作推进会举行</p>
                            <p class="t3">7月8日上午，同心同向推动现代化上合新区一体化发展工作推进会议在胶州市会议中心举行。青岛市委常委、胶州市委书记，上合示范区党工委书记、管委会主任，青岛胶东临空经济示范区党工委书记张新竹出席会议并讲话，上合示范区党工委副书记、管委会常务副主任李刚主持会议，胶州市委副书记、市长于冬泉出席会议并讲话，胶州市人大常委会主任李晓光、胶州市政协主席孙晓兵等领导出席会议。</p>
                            <div class="flexbox _content-sb">
                                <p class="t2">2022年07月11日</p>
                                <div class="theme-button">[[#{Learnmore}]]</div>
                            </div>
                        </div>
                    </a>

                    <a href="/article/22" class="sound-list-item scale">
                        <div class="img">
                            <img src="https://cloud-assets-brwq.oss-cn-heyuan.aliyuncs.com/sh0722/uploads/20220722/b3fde334871dfcfa14f01469a13324d5.jpg" alt="">
                        </div>
                        <div class="sound-list-right">
                            <p class="t1 ellipsis1"> 再添物流新模式！上合示范区首班“上合数字化双循环冷链专列”开行</p>
                            <p class="t3">日前，满载着货值约285万美元的山东本地冷冻海产品、水果、蔬菜等冷链食品的“上合数字化双循环冷链专列”（中国上合示范区—俄罗斯莫斯科）从上合示范区多式联运中心发出。</p>
                            <div class="flexbox _content-sb">
                                <p class="t2">2022年07月11日</p>
                                <div class="theme-button">[[#{Learnmore}]]</div>
                            </div>
                        </div>
                    </a>

                    <a href="/article/23" class="sound-list-item scale">
                        <div class="img">
                            <img src="" alt="" onerror="this.src='https://cloud-assets-brwq.oss-cn-heyuan.aliyuncs.com/sh0722/uploads/20220722/6f99e70d29e4df3058f9484dba0d2390.png';this.οnerrοr=null">
                        </div>
                        <div class="sound-list-right">
                            <p class="t1 ellipsis1">张新竹会见林毅夫一行 </p>
                            <p class="t3"> 7月17日，青岛市委常委、胶州市委书记，上合示范区党工委书记、管委会主任，青岛胶东临空经济示范区党工委书记张新竹在上合服务中心会见北京大学新结构经济学研究院院长、北京大学南南合作与发展学院院长、北京大学国家发展研究院名誉院长林毅夫一行，双方就加强教育培训交流、联合开展研究合作等方面进行了交流。</p>
                            <div class="flexbox _content-sb">
                                <p class="t2">2022年07月11日</p>
                                <div class="theme-button">[[#{Learnmore}]]</div>
                            </div>
                        </div>
                    </a>

                    <a href="/article/24" class="sound-list-item scale">
                        <div class="img">
                            <img src="" alt="" onerror="this.src='https://cloud-assets-brwq.oss-cn-heyuan.aliyuncs.com/sh0722/uploads/20220722/6f99e70d29e4df3058f9484dba0d2390.png';this.οnerrοr=null">
                        </div>
                        <div class="sound-list-right">
                            <p class="t1 ellipsis1">张新竹会见上海海事大学青岛研究院院长杨斌一行 </p>
                            <p class="t3"> 7月21日，青岛市委常委、胶州市委书记，上合示范区党工委书记、管委会主任，青岛胶东临空经济示范区党工委书记张新竹在胶州市级机关办公大楼会见了上海海事大学研究生院院长、上海海事大学青岛研究院院长杨斌一行，双方就建设国际物流中心、搭建现代化物流与供应链服务体系等方面进行交流。</p>
                            <div class="flexbox _content-sb">
                                <p class="t2">2022年07月11日</p>
                                <div class="theme-button">[[#{Learnmore}]]</div>
                            </div>
                        </div>
                    </a>

                    <a href="/article/25" class="sound-list-item scale">
                        <div class="img">
                            <img src="https://cloud-assets-brwq.oss-cn-heyuan.aliyuncs.com/sh0722/uploads/20220722/981b8bec817bd7c4895671ffd60bc27e.jpg" alt="">
                        </div>
                        <div class="sound-list-right">
                            <p class="t1 ellipsis1"> 张新竹主持召开上合示范区党工委第60次会议</p>
                            <p class="t3"> 7月20日，青岛市委常委、胶州市委书记，上合示范区党工委书记、管委会主任，青岛胶东临空经济示范区党工委书记张新竹在青岛空港招商中心，主持召开上合示范区党工委第60次会议。上合示范区党工委副书记、管委会常务副主任李刚出席会议。</p>
                            <div class="flexbox _content-sb">
                                <p class="t2">2022年07月11日</p>
                                <div class="theme-button">[[#{Learnmore}]]</div>
                            </div>
                        </div>
                    </a>

                </ul>
            </div>

<!--            <div>swiper-pagenation</div>-->
        </div>
    </section>

</section>
<footer th:replace="public/footer"></footer>

<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
<script src="../js/swiper-bundle.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

<script src="js/jquery.countup.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/qing.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script>

</script>
</body>

</html>