<!DOCTYPE html>
<html lang="en">

<head th:replace="public/head::head('园区互动专区详情')"></head>

<body>
<header th:replace="public/header"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>

<section>
    <section>
        <div class="wrapper">
            <div class="park-detail-header">
                <h3>园区详情</h3>
                <p>
                    坚持规划领航、立体发展，谋定开放之“局”。对标雄安新区，突出“国际范式、人文共享、立体集约、生态宜居、智慧科技”，坚持“向地下要空间、向空中要效益”，2020年3月，委托清华大学建筑设计院、上海市政设计院开展10平方公里核心区域城市设计和地下空间规划。6月20日，通过了由吴志强、庄惟敏、陈湘生、李术才4名院士参加的评审会，示范区自此有了“领航司南”。核心区域建筑总体量1750万平方米，其中地下550万平方米，布局上合广场组团、金融贸易组团、上合国际产业合作组团、环金湖服务组团、商旅文化交流组团、海洋合作组团和领馆区组团七大组团。</p>
            </div>
            <div class="park-detail-img-wrap">
                <div class="park-detail-img1">
                    <img th:src="@{/images/park-db.png}" alt="">
                </div>
                <div class="park-detail-img-grid">
                    <img th:src="@{/images/park1.png}" alt="">
                    <img th:src="@{/images/park3.png}" alt="">
                    <img th:src="@{/images/park4.png}" alt="">
                    <img th:src="@{/images/park5.png}" alt="">
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="gray-bg">
            <div class="wrapper">
                <div class="park-detail-center-wrap">
                    <div class="park-detail-center-info">
                        <h3>“向地下要空间、向空中要效益”</h3>
                        <p>2020年3月，委托清华大学建筑设计研究院、上海市政工程设计研究总院，开展10平方公里核心区域城市设计和地下空间规划。
                            2020年6月20日，召开上合示范区10平方公里核心区城市设计与地下空间专家评审会，核心区域规划通过了由吴志强、庄惟敏、陈湘生、李术才4名院士牵头组成的评审委员会评审，示范区自此有了“领航司南”。
                        </p>
                    </div>
                    <div class="park-detail-img2">
                        <img th:src="@{/images/park-d1.png}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="wrapper">
            <div class="park-detail-bottom-wrap">
                <h3>核心区域建筑总体量1750万平方米<br> 其中地下550万平方米布局广场综合组团、国际产业合作组团等七大组团
                </h3>
                <p>2020年3月，委托清华大学建筑设计研究院、上海市政工程设计研究总院，开展10平方公里核心区域城市设计和地下空间规划。
                    2020年6月20日，召开上合示范区10平方公里核心区城市设计与地下空间专家评审会，核心区域规划通过了由吴志强、庄惟敏、陈湘生、李术才4名院士牵头组成的评审委员会评审，示范区自此有了“领航司南”。
                </p>
                <div class="park-detail-img3">
                    <img th:src="@{/images/park-d2.png}" alt="">
                </div>
            </div>
        </div>
    </section>


</section>
<footer th:replace="public/footer"></footer>

<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
<script src="../js/swiper-bundle.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

<script src="js/jquery.countup.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/qing.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script>
</script>
</body>

</html>