<!DOCTYPE html>
<html lang="en">

<head th:replace="public/head::head('政策展示')"></head>

<body>
<header th:replace="public/header"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>
<section>
    <section>
        <div class="wrapper">
            <div class="page-title flexbox _content-sb">
                <h3>政策展示</h3>
            </div>
            <div class="flexbox _content-sb ">
                <div class="l-nav mt60">
                    <div class="l-nav-i is-active">
                        <p>上合组织</p>
                        <i class="iconfont icon-Vector-right"></i>
                    </div>
                    <div class="l-nav-i">
                        <p>海关</p>
                        <i class="iconfont icon-Vector-right"></i>
                    </div>
                    <div class="l-nav-i">
                        <p>商务</p>
                        <i class="iconfont icon-Vector-right"></i>
                    </div>
                    <div class="l-nav-i">
                        <p>外管</p>
                        <i class="iconfont icon-Vector-right"></i>
                    </div>
                    <div class="l-nav-i">
                        <p>税务</p>
                        <i class="iconfont icon-Vector-right"></i>
                    </div>
                    <div class="l-nav-i">
                        <p>管委</p>
                        <i class="iconfont icon-Vector-right"></i>
                    </div>
                </div>
                <div class="dynamic-list-wrap">
                    <ul>
                        <li>
                            <div class="dynamic-list-item">
                                <img th:src="@{/images/policy1.png}" alt="">
                                <div class="dynamic-list-item-info">
                                    <p class="t1 ellipsis1">俄总理米舒斯京签署扩大优先进口产品清单的法令</p>
                                    <p class="t2">
                                        俄塔斯社6月28日报道，俄总理米舒斯京签署扩大优先进口产品清单的法令，为进口坚果、咖啡、可可豆、果酱、果泥、水果罐头、婴儿奶粉、部分药品和农业设备等必要商品的进口商提供优惠贷款。贷款利率为俄央行...</p>
                                    <a href="">
                                        <!-- <div class="t3">查看详情 <i class="iconfont icon-Vector-right"></i></div> -->
                                        <div class="theme-button">[[#{Learnmore}]]</div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dynamic-list-item">
                                <img th:src="@{/images/policy1.png}" alt="">
                                <div class="dynamic-list-item-info">
                                    <p class="t1 ellipsis1">俄远东萨哈林州准备大力发展物流和基建</p>
                                    <p class="t2">俄罗斯萨哈林州副州长扎伊采夫6日在中俄两国地方合作线上推介会上表示，俄远东萨哈林州准备大力发展物流和基建，欢迎中国企业家来萨哈林州投资兴业.
                                        ...</p>
                                    <a href="">
                                        <!-- <div class="t3">查看详情 <i class="iconfont icon-Vector-right"></i> </div> -->
                                        <div class="theme-button">[[#{Learnmore}]]</div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dynamic-list-item">
                                <img th:src="@{/images/policy1.png}" alt="">
                                <div class="dynamic-list-item-info">
                                    <p class="t1 ellipsis1">俄政府将拨款9亿卢布用于在农业领域应用数字技术</p>
                                    <p class="t2">
                                        俄PRIME通讯社6月6日报道，俄总理米舒斯京表示，俄政府将拨款9亿卢布（约合150万美元）用于在农业领域应用数字技术，这既是落实普京总统的指示，也是当前形势所需。 </p>
                                    <a href="">
                                        <!-- <div class="t3">查看详情 <i class="iconfont icon-Vector-right"></i></div> -->
                                        <div class="theme-button">[[#{Learnmore}]]</div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dynamic-list-item">
                                <img th:src="@{/images/policy1.png}" alt="">
                                <div class="dynamic-list-item-info">
                                    <p class="t1 ellipsis1">高塔姆·阿达尼（Gautam Adani）宣布将向越南投资100亿美元 </p>
                                    <p class="t2">越南《越南+》6月28日报道，越南《人民报》报道称，在 6月25日举行的2022
                                        年岘港投资论坛上，印度阿达尼集团旗下阿达尼港口和经济特区公司董事长桑迪普·梅塔（Sandeep Mehta）代表亿万富翁高塔姆·阿... </p>
                                    <a href="">
                                        <!-- <div class="t3">查看详情 <i class="iconfont icon-Vector-right"></i></div> -->
                                        <div class="theme-button">[[#{Learnmore}]]</div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </section>


</section>
<footer th:replace="public/footer"></footer>

<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
<script src="../js/swiper-bundle.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

<script src="js/jquery.countup.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/qing.js"></script>

<script>
    $(function () {


        // 菜单切换
        $('.l-nav .l-nav-i').click(function () {
            $(this).addClass('is-active');
            $(this).siblings('.l-nav-i').removeClass('is-active');
        });
    });
</script>
</body>

</html>