<!DOCTYPE html>
<html lang="en">

<head th:replace="public/head::head('上合组织时政要问展示')"></head>

<body>
<header th:replace="public/header"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>
<section>
    <section>
        <div class="wrapper">
            <div class="page-title">
                <h3>文件下载</h3>
                <a href=" ">
                    <!-- <i class="iconfont icon-more"></i> -->
                    <div class="theme-button">[[#{Learnmore}]]</div>
                </a>
            </div>
            <div class="flexbox _content-sb mt40 pb60">
                <div class="politics-img-wrap">
                    <a href="#" class="animated">
                        <div class="politics-img-item">
                            <i class="iconfont icon-zhxx-pdf"></i>
                            <p class="politics-item-title ellipsis2"> 上海合作组织成员国元首理事会关于粮食安全的声明</p>
                            <p class="politics-item-desc"> <i class="iconfont icon-download"></i> 立即下载</p>
                        </div>
                    </a>
                    <a href="#" class="animated">
                        <div class="politics-img-item">
                            <i class="iconfont icon-zhxx-pdf"></i>
                            <p class="politics-item-title ellipsis2"> 上海合作组织成员国元首理事会关于粮食安全的声明</p>
                            <p class="politics-item-desc"> <i class="iconfont icon-download"></i> 立即下载</p>
                        </div>
                    </a>
                    <a href="#" class="animated">
                        <div class="politics-img-item">
                            <i class="iconfont icon-zhxx-pdf"></i>
                            <p class="politics-item-title ellipsis2"> 上海合作组织成员国元首理事会关于粮食安全的声明</p>
                            <p class="politics-item-desc"> <i class="iconfont icon-download"></i> 立即下载</p>
                        </div>
                    </a>
                    <a href="#" class="animated">
                        <div class="politics-img-item">
                            <i class="iconfont icon-zhxx-pdf"></i>
                            <p class="politics-item-title ellipsis2"> 上海合作组织成员国元首理事会关于粮食安全的声明</p>
                            <p class="politics-item-desc"> <i class="iconfont icon-download"></i> 立即下载</p>
                        </div>
                    </a>
                    <a href="#" class="animated">
                        <div class="politics-img-item">
                            <i class="iconfont icon-zhxx-pdf"></i>
                            <p class="politics-item-title ellipsis2"> 上海合作组织成员国元首理事会关于粮食安全的声明</p>
                            <p class="politics-item-desc"> <i class="iconfont icon-download"></i> 立即下载</p>
                        </div>
                    </a>
                    <a href="#" class="animated">
                        <div class="politics-img-item">
                            <i class="iconfont icon-zhxx-pdf"></i>
                            <p class="politics-item-title ellipsis2"> 上海合作组织成员国元首理事会关于粮食安全的声明</p>
                            <p class="politics-item-desc"> <i class="iconfont icon-download"></i> 立即下载</p>
                        </div>
                    </a>

                </div>
            </div>
<!--            <div>swiper-pagination</div>-->
        </div>

    </section>


</section>
<footer th:replace="public/footer"></footer>


<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
<script src="../js/swiper-bundle.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

<script src="js/jquery.countup.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/qing.js"></script>
</body>

</html>