<!DOCTYPE html>
<html lang="en">

<head th:replace="public/head::head('[[#{IndustrialPark}]]')"></head>

<body>
<header th:replace="public/header"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>

<section>
    <section>
        <div class="wrapper">
            <div class="page-title">
                <h3>[[#{IndustrialPark}]]</h3>
            </div>
            <div class="company-grid-wrap2">
                <a href="/ci/park_details">
                    <div class="company-grid-item2">
                        <img th:src="@{/images/park1.png}" alt="">
                        <p class="ellipsis1">园区展示1</p>
                        <p class="ellipsis2">通过拓展国际物流、现代贸易、双向投资、商旅文化交流、海洋等领域合作</p>
                    </div>
                </a>
                <a href="/ci/park_details">
                    <div class="company-grid-item2">
                        <img th:src="@{/images/park2.png}" alt="">
                        <p class="ellipsis1">园区展示1</p>
                        <p class="ellipsis2">通过拓展国际物流、现代贸易、双向投资、商旅文化交流、海洋等领域合作</p>
                    </div>
                </a>
                <a href="/ci/park_details">
                    <div class="company-grid-item2">
                        <img th:src="@{/images/park3.png}" alt="">
                        <p class="ellipsis1">园区展示1</p>
                        <p class="ellipsis2">通过拓展国际物流、现代贸易、双向投资、商旅文化交流、海洋等领域合作</p>
                    </div>
                </a>
                <a href="/ci/park_details">
                    <div class="company-grid-item2">
                        <img th:src="@{/images/park4.png}" alt="">
                        <p class="ellipsis1">园区展示1</p>
                        <p class="ellipsis2">通过拓展国际物流、现代贸易、双向投资、商旅文化交流、海洋等领域合作</p>
                    </div>
                </a>
                <a href="/ci/park_details">
                    <div class="company-grid-item2">
                        <img th:src="@{/images/park5.png}" alt="">
                        <p class="ellipsis1">园区展示1</p>
                        <p class="ellipsis2">通过拓展国际物流、现代贸易、双向投资、商旅文化交流、海洋等领域合作</p>
                    </div>
                </a>
                <a href="/ci/park_details">
                    <div class="company-grid-item2">
                        <img th:src="@{/images/park6.png}" alt="">
                        <p class="ellipsis1">园区展示1</p>
                        <p class="ellipsis2">通过拓展国际物流、现代贸易、双向投资、商旅文化交流、海洋等领域合作</p>
                    </div>
                </a>
                <a href="/ci/park_details">
                    <div class="company-grid-item2">
                        <img th:src="@{/images/park1.png}" alt="">
                        <p class="ellipsis1">园区展示1</p>
                        <p class="ellipsis2">通过拓展国际物流、现代贸易、双向投资、商旅文化交流、海洋等领域合作</p>
                    </div>
                </a>
                <a href="/ci/park_details">
                    <div class="company-grid-item2">
                        <img th:src="@{/images/park2.png}" alt="">
                        <p class="ellipsis1">园区展示1</p>
                        <p class="ellipsis2">通过拓展国际物流、现代贸易、双向投资、商旅文化交流、海洋等领域合作</p>
                    </div>
                </a>
                <a href="/ci/park_details">
                    <div class="company-grid-item2">
                        <img th:src="@{/images/park3.png}" alt="">
                        <p class="ellipsis1">园区展示1</p>
                        <p class="ellipsis2">通过拓展国际物流、现代贸易、双向投资、商旅文化交流、海洋等领域合作</p>
                    </div>
                </a>




            </div>
        </div>

    </section>

</section>
<footer th:replace="public/footer"></footer>


<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
<script src="../js/swiper-bundle.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

<script src="js/jquery.countup.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/qing.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script>
</script>
</body>

</html>