<!DOCTYPE html>
<html lang="en">

<head th:replace="public/head::head('上合风险发布')"></head>

<body>
<header th:replace="public/header"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>


<section>
    <section>
        <div class="wrapper">
            <div class="page-title flexbox _content-sb">
                <h3>风险分析</h3>
            </div>
            <div class="risk-ctx">
                <p>
                    今天上午，胶州市举行“共建上合人才创新高地”集中签约仪式，活动深入贯彻落实“一核引领、全域联动”工作机制，推动人才、技术、项目、资本等资源在上合新区互动耦合。仪式上，胶州市人民政府与青岛大学、青岛科技大学签订战略合作协议，上合示范区管委会与山东人才控股有限公司、中国科学院海洋研究所签订战略合作协议。</p>
                <img class="risk-img1" src="../images/zhxx-img4.png" alt="">
                <p>
                    张新竹在致辞中指出，今日的上合新区，比任何时期都更加需要人才、渴盼人才，也比任何时期都更有条件搭建平台、汇聚资源。我们正以前所未有的开放姿态敞开胸怀，共赴一场双向奔赴、互相成就的时代之约。上合示范区战略机遇加持，是各类创新主体开放合作的最佳舞台；胶州实体经济根基雄厚，是各类资源汇聚发展的黄金展台；上合新区活力魅力兼备，是各类人才宜居宜业的优选平台。我们将一如既往地以优惠的政策招才引才，以优质的平台赋能科技创新，全力构建校地协同生态，努力构建政企共赢生态，奋力构建最优人才生态。</p>
                <img class="risk-img2" src="../images/zhxx-img5.png" alt="">
                <p>
                    张新竹在致辞中指出，今日的上合新区，比任何时期都更加需要人才、渴盼人才，也比任何时期都更有条件搭建平台、汇聚资源。我们正以前所未有的开放姿态敞开胸怀，共赴一场双向奔赴、互相成就的时代之约。上合示范区战略机遇加持，是各类创新主体开放合作的最佳舞台；胶州实体经济根基雄厚，是各类资源汇聚发展的黄金展台；上合新区活力魅力兼备，是各类人才宜居宜业的优选平台。我们将一如既往地以优惠的政策招才引才，以优质的平台赋能科技创新，全力构建校地协同生态，努力构建政企共赢生态，奋力构建最优人才生态。</p>
            </div>

        </div>

    </section>


</section>
<footer th:replace="public/footer"></footer>


<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
<script src="../js/swiper-bundle.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

<script src="js/jquery.countup.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/qing.js"></script>
</body>

</html>