<!DOCTYPE html>
<html lang="en">

<head th:replace="public/head::head('上合研究成果展示')"></head>

<body>
<header th:replace="public/header"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>

<section>
    <section>
        <div class="wrapper">
            <div class="page-title">
                <h3>上合国家经贸热点专题</h3>
            </div>
            <div class="flexbox _content-sb mt40 pb60">
                <div class="study-swiper-wrap">
                    <img th:src="@{/images/zhxx-new-img.png}">
                </div>
                <div class="study-ctx-wrap">
                    <div class="study-ctx-title">
                        <h3 class="ellipsis1">上合示范区纪工委监察室 “护航项目落地、推动...</h3>
                        <h4 class="ellipsis2">为推动市委市政府项目落地年”部署要求落实见效，根据青岛市纪委监委统一部署，上合示范区纪工委监察室组织开展“护航项目落...</h4>
                    </div>
                    <ul>
                        <li>
                            <a href="#">
                                <div class="study-ctx-item">
                                    <div class="icon"></div>
                                    <p class="ellipsis1">建设富有上合特色的制度创新体系</p>
                                    <p>2022年07月11日</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="study-ctx-item">
                                    <div class="icon"></div>
                                    <p class="ellipsis1">建设富有上合特色的制度创新体系 上合示范区制度创新座谈会召开</p>
                                    <p>2022年07月11日</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="study-ctx-item">
                                    <div class="icon"></div>
                                    <p class="ellipsis1">建设富有上合特色的制度创新体系 上合示范区制度创新座谈会召开</p>
                                    <p>2022年07月11日</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="study-ctx-item">
                                    <div class="icon"></div>
                                    <p class="ellipsis1">建设富有上合特色的制度创新体系 上合示范区制度创新座谈会召开</p>
                                    <p>2022年07月11日</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="study-ctx-item">
                                    <div class="icon"></div>
                                    <p class="ellipsis1">建设富有上合特色的制度创新体系 上合示范区制度创新座谈会召开</p>
                                    <p>2022年07月11日</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="study-img1 wrapper">
            <img src="../images/zhxx-img2.png" alt="">
        </div>
    </section>
    <section>
        <div class="wrapper">
            <div class="study-grid-wrap mt60">
                <div class="study-grid-item">
                    <div class="study-grid-title">
                        <p>上合成员国国别指南</p>
                        <i class="iconfont icon-zhxx-right"></i>
                    </div>
                    <ul>
                        <li>
                            <a href="">
                                <div class="study-ctx-item">
                                    <div class="icon"></div>
                                    <p class="ellipsis1">建设富有上合特色的制度创新体系 上合示范区制度创新座谈会召开</p>
                                    <p>2022年07月11日</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="study-ctx-item">
                                    <div class="icon"></div>
                                    <p class="ellipsis1">建设富有上合特色的制度创新体系 上合示范区制度创新座谈会召开</p>
                                    <p>2022年07月11日</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="study-ctx-item">
                                    <div class="icon"></div>
                                    <p class="ellipsis1">建设富有上合特色的制度创新体系 上合示范区制度创新座谈会召开</p>
                                    <p>2022年07月11日</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="study-ctx-item">
                                    <div class="icon"></div>
                                    <p class="ellipsis1">建设富有上合特色的制度创新体系 上合示范区制度创新座谈会召开</p>
                                    <p>2022年07月11日</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="study-ctx-item">
                                    <div class="icon"></div>
                                    <p class="ellipsis1">建设富有上合特色的制度创新体系 上合示范区制度创新座谈会召开</p>
                                    <p>2022年07月11日</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="study-ctx-item">
                                    <div class="icon"></div>
                                    <p class="ellipsis1">建设富有上合特色的制度创新体系 上合示范区制度创新座谈会召开</p>
                                    <p>2022年07月11日</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="study-grid-item">
                    <div class="study-grid-title">
                        <p>上合观察国国别指南</p>
                        <i class="iconfont icon-zhxx-right"></i>
                    </div>
                    <ul>
                        <li>
                            <a href="">
                                <div class="study-ctx-item">
                                    <div class="icon"></div>
                                    <p class="ellipsis1">建设富有上合特色的制度创新体系 上合示范区制度创新座谈会召开</p>
                                    <p>2022年07月11日</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="study-ctx-item">
                                    <div class="icon"></div>
                                    <p class="ellipsis1">建设富有上合特色的制度创新体系 上合示范区制度创新座谈会召开</p>
                                    <p>2022年07月11日</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="study-ctx-item">
                                    <div class="icon"></div>
                                    <p class="ellipsis1">建设富有上合特色的制度创新体系 上合示范区制度创新座谈会召开</p>
                                    <p>2022年07月11日</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="study-ctx-item">
                                    <div class="icon"></div>
                                    <p class="ellipsis1">建设富有上合特色的制度创新体系 上合示范区制度创新座谈会召开</p>
                                    <p>2022年07月11日</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="study-ctx-item">
                                    <div class="icon"></div>
                                    <p class="ellipsis1">建设富有上合特色的制度创新体系 上合示范区制度创新座谈会召开</p>
                                    <p>2022年07月11日</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="study-ctx-item">
                                    <div class="icon"></div>
                                    <p class="ellipsis1">建设富有上合特色的制度创新体系 上合示范区制度创新座谈会召开</p>
                                    <p>2022年07月11日</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="study-grid-item">
                    <div class="study-grid-title">
                        <p>上合对话伙伴国别指南</p>
                        <i class="iconfont icon-zhxx-right"></i>
                    </div>
                    <ul>
                        <li>
                            <a href="">
                                <div class="study-ctx-item">
                                    <div class="icon"></div>
                                    <p class="ellipsis1">建设富有上合特色的制度创新体系 上合示范区制度创新座谈会召开</p>
                                    <p>2022年07月11日</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="study-ctx-item">
                                    <div class="icon"></div>
                                    <p class="ellipsis1">建设富有上合特色的制度创新体系 上合示范区制度创新座谈会召开</p>
                                    <p>2022年07月11日</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="study-ctx-item">
                                    <div class="icon"></div>
                                    <p class="ellipsis1">建设富有上合特色的制度创新体系 上合示范区制度创新座谈会召开</p>
                                    <p>2022年07月11日</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="study-ctx-item">
                                    <div class="icon"></div>
                                    <p class="ellipsis1">建设富有上合特色的制度创新体系 上合示范区制度创新座谈会召开</p>
                                    <p>2022年07月11日</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="study-ctx-item">
                                    <div class="icon"></div>
                                    <p class="ellipsis1">建设富有上合特色的制度创新体系 上合示范区制度创新座谈会召开</p>
                                    <p>2022年07月11日</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="study-ctx-item">
                                    <div class="icon"></div>
                                    <p class="ellipsis1">建设富有上合特色的制度创新体系 上合示范区制度创新座谈会召开</p>
                                    <p>2022年07月11日</p>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>


</section>
<footer th:replace="public/footer"></footer>

<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
<script src="../js/swiper-bundle.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

<script src="js/jquery.countup.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/qing.js"></script>
</body>

</html>