<!DOCTYPE html>
<html lang="en">

<head th:replace="public/head::head('商旅合作')"></head>

<body>
<header th:replace="public/header"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>
<section>
    <section>
        <div class="wrapper">
            <div class="page-title-switch left">
                <a href="/ci/trade_details_1" class="switch-item small " data-tag="1">国际贸易合作</a>
                <a href="/ci/trade_details_2" class="switch-item small" data-tag="2">国际物流合作</a>
                <a href="/ci/trade_details_3" class="switch-item small" data-tag="3">产能合作</a>
                <a href="/ci/trade_details_4" class="switch-item small selected" data-tag="4">商旅合作</a>
                <a href="/ci/trade_details_5" class="switch-item small" data-tag="5">综合创意</a>
            </div>
        </div>
    </section>
    <section>
        <div class="wrapper">
            <div class="trade-detail-item">
                <div class="trade-detail-item-info">
                    <p class="t1">商旅合作</p>
                    <p class="t2">示范区加快建设互学互鉴的商旅文交流发展中心。</p>
                    <p class="t2">围绕开展文化旅游交流合作、开展教育和法律服务合作、开展技能培训合作、开展绿色生态园区建设交流四个方面开展13项重点工作。</p>
                    <p class="t2">
                        2021年开展“上合之夏”、国际友人@Qingdao、巴基斯坦文化节等线上线下文旅活动53场，共5774人次参加，其中省级以上领导参加13场次，全年共计有302人次的上合组织国家友人到访上合示范区。</p>
                    <p class="t2">
                        通过建设上合经贸学院推动示范区教育加速发展；通过建设上合国家客厅、俄罗斯、阿塞拜疆等各品牌国家馆、巴基斯坦中心、俄罗斯中心、法智谷等项目加快示范区商旅人文交流平台建设；通过建立上合组织国家旅游城市协调机制、开展中巴建交70周年活动、举办俄罗斯油画展、巴基斯坦艺术展等活动的形式，推动与上合组织国家文旅交流顺畅进行。</p>
                </div>
                <img src="../images/trade-detail23.png" alt="">
            </div>


        </div>

    </section>
    <section>
        <div class="wrapper">
            <div class="page-title">
                <h3>文化旅游交流合作</h3>
            </div>
            <div class="mt30">
                <p class="detail-content-text">在开展上合文化交融活动、国际多元文化交流活动、国际商务会议和论坛方面开展工作。 </p>
                <p class="detail-content-text">
                    已创建俄罗斯列宾美术学院油画展、尼泊尔手工艺艺术品展、走进巴基斯坦文化展、俄罗斯历史珍藏邮票展、上合示范区马拉松赛、上合组织国家国际象棋大赛等艺术、体育交流活动平台。</p>
                <p class="detail-content-text"> 打造充满上合文化特色的 “上合之夏”，提供上合组织国家饮食文化、民俗文化、历史文化和音乐文化的综合展示平台。</p>
                <p class="detail-content-text"> 开展“一带一路”能源部长会议、上合组织国家金融合作与资本市场发展论坛等大型国际性论坛活动。</p>
            </div>
            <div class="trade-detail4-grid-wrap">
                <a href="" class="trade-detail4-grid-item scale">
                    <div class="img">
                        <img src="../images/trade-d-1.png" alt=""></div>
                </a>
                <a href="" class="trade-detail4-grid-item scale">
                    <div class="img">
                        <img src="../images/trade-d-2.png" alt=""></div>
                </a>
                <a href="" class="trade-detail4-grid-item scale">
                    <div class="img">
                        <img src="../images/trade-d-3.png" alt=""></div>
                </a>
            </div>
            <div>swiper</div>
        </div>
    </section>
    <section>
        <div class="wrapper">
            <div class="page-title">
                <h3>教育和法律服务合作</h3>
            </div>
            <div class="mt30">
                <p class="detail-content-text">
                    开展国际教育培训交流活动，建设中国-上合组织法律服务委员会，搭建上合示范区法律服务平台。目前“法智谷”涉外法律服务大数据平台正式上线运营，注册用户628个，法律机构用户250家，企业用户347家，律师用户31人。2021年办理42件涉外案件，涉案标的额2400万元，涉及10个国家和地区。</p>
            </div>
            <div class="trade-detail4-grid-wrap">
                <a href="" class="trade-detail4-grid-item scale">
                    <div class="img">
                        <img src="../images/trade-d-4.png" alt=""></div>
                </a>
                <a href="" class="trade-detail4-grid-item scale">
                    <div class="img">
                        <img src="../images/trade-d-5.png" alt=""></div>
                </a>
                <a href="" class="trade-detail4-grid-item scale">
                    <div class="img">
                        <img src="../images/trade-d-6.png" alt=""></div>
                </a>
            </div>
        </div>
    </section>

    <section>
        <div class="wrapper">
            <div class="page-title">
                <h3>技能培训合作</h3>
            </div>
            <div class="mt30">
                <p class="detail-content-text">
                    承担国家使命，面向上海合作组织和“一带一路”沿线国家，打造专业化、多元化的人才培养平台、“中国+上合组织国家”高端国际智库平台、畅通高效的经贸合作和交流平台。</p>
                <p class="detail-content-text">
                    2021年9月17日，上海合作组织成立20周年杜尚别纪念峰会上，国家主席习近平提出中方将设立中国—上海合作组织经贸学院。目前已线上线下开展援外培训和经贸培训18个班次来自41个国家的1269人次参加培训其中线上542人次、线下727人次。</p>
            </div>
            <div class="trade-detail4-grid-wrap2">
                <a href="" class="trade-detail4-grid-item2 scale">
                    <div class="img">
                        <img src="../images/trade-d-7.png" alt=""></div>
                </a>
                <a href="" class="trade-detail4-grid-item2 scale">
                    <div class="img">
                        <img src="../images/trade-d-8.png" alt=""></div>
                </a>
            </div>
        </div>
    </section>

    <section>
        <div class="wrapper">
            <div class="page-title">
                <h3>开展绿色生态园区建设交流</h3>
            </div>
            <div class="mt30">
                <p class="detail-content-text">
                    以湿地保育为核心，聚焦自然生态科普，以生物标本和雕塑的形式科普上合各国家的特色动植物，定制国际化的湿地科普研学体验，打造美丽活力的湿地绿洲。</p>
            </div>
            <div class="trade-detail4-grid-wrap2">
                <a href="" class="trade-detail4-grid-item2 scale">
                    <div class="img">
                        <img src="../images/trade-d-9.png" alt=""></div>
                </a>
                <a href="" class="trade-detail4-grid-item2 scale">
                    <div class="img">
                        <img src="../images/trade-d-10.png" alt=""></div>
                </a>
                <a href="" class="trade-detail4-grid-item2 scale">
                    <div class="img">
                        <img src="../images/trade-d-11.png" alt=""></div>
                </a>
                <a href="" class="trade-detail4-grid-item2 scale">
                    <div class="img">
                        <img src="../images/trade-d-12.png" alt=""></div>
                </a>
            </div>
            <div>swiper</div>
        </div>
    </section>


</section>
<footer th:replace="public/footer"></footer>

<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
<script src="../js/swiper-bundle.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

<script src="js/jquery.countup.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/qing.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script>
    $(".switch-item").click(function (event) {
        $(this).addClass("selected");
        $(this).siblings().removeClass("selected");

    })
</script>
</body>

</html>