<!DOCTYPE html>
<html lang="en">

<head th:replace="public/head::head('国际物流-详情')"></head>

<body>
<header th:replace="public/header"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>

<section>
    <section>
        <div class="wrapper">

            <div class="trade-detail-product">
                <h3>中国传化上合国际物流港</h3>
                <img class="img1" src="" alt="">
                <p class="detail-content-text">
                    中国传化上合国际物流港先后获得交通部“十二五”规划重点项目、青岛市重点建设项目、山东省重点建设项目、山东省物流专项示范工程、山东省服务业特色小镇、山东省中小企业公共服务示范平台、山东省小微企业创业创新示范基地、山东省服务业聚集区、山东省服务业专项引导资金奖励项目、山东省数字化经济园区、青岛市服务业聚集区、青岛市中小企业公共服务示范平台、青岛市电子商务示范平台、青岛市小微企业创业创新示范平台、青岛市小微企业创业创新基地、青岛市供应链创新与应用试点项目、青岛市重点联系园区、青岛市诚信企业、青岛市百强企业、国家级特色载体、国家级中小企业公共服务示范平台、国家级小微企业创业创新示范基地、国家级示范园区、全国司机之家试点单位、国家中央车购税补助项目等荣誉称号。
                </p>
                <img class="img2" src="" alt="">
                <img class="img2" src="" alt="">
                <img class="img2" src="" alt="">
                <p>物流总部经济基地</p>
                <img class="img2" src="" alt="">
                <p>项目一期航拍</p>
            </div>

        </div>
    </section>

</section>
<footer th:replace="public/footer"></footer>


<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
<script src="../js/swiper-bundle.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

<script src="js/jquery.countup.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/qing.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script>
    $(".switch-item").click(function (event) {
        $(this).addClass("selected");
        $(this).siblings().removeClass("selected");

    })
</script>
</body>

</html>