<!DOCTYPE html>
<html lang="en">

<head th:replace="public/head::head('贸易合作')"></head>

<body>
<header th:replace="public/header"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>
<section>
    <section>
        <div class="wrapper">
            <div class="page-title-switch left">
                <a href="ci_trade_details_1.html" class="switch-item small selected" data-tag="1">国际贸易合作</a>
                <a href="ci_trade_details_2.html" class="switch-item small" data-tag="2">国际物流合作</a>
                <a href="ci_trade_details_3.html" class="switch-item small" data-tag="3">产能合作</a>
                <a href="ci_trade_details_4.html" class="switch-item small" data-tag="4">商旅合作</a>
                <a href="ci_trade_details_5.html" class="switch-item small" data-tag="5">综合创意</a>
            </div>
            <div class="trade-detail-item">
                <div class="trade-detail-item-info">
                    <p class="t1">[[#{InternationalLogisticsCenter}]]</p>
                    <p class="t2">
                        国际物流中心以打造海陆空铁“四港一体”国际联运综合港为目标，重点围绕畅通多式联运通道、集聚发展现代物流产业、优化多式联运综合服务功能、开展国际物流合作四个方面开展工作，致力于打造上合组织国家及沿黄流域面向日韩等国家的出海口，构建“东接日韩面向亚太、北接蒙俄、南连东盟、西接上合组织国家“的国际物流大通道。</p>
                    <p class="t2">2020年上合示范区多式联运中心完成 <br>集装箱作业量76.5万标箱、增长14%。<br> 开行欧亚班列401列、增长15.9%。</p>
                </div>
                <img src="" alt="">
            </div>
        </div>
        <div class="gray-bg">
            <div class="wrapper pb60">
                <div class="page-title">
                    <h3>[[#{Functionalpositioning}]]</h3>
                    <a href=" ">
                        <i class="iconfont icon-more"></i>
                    </a>
                </div>
                <div class="trade-detail-swiper">
                </div>
            </div>

        </div>
        <div class="wrapper">
            <img src="../images/zhxx-gjwl-map.png" alt="">
        </div>
    </section>
    <section>
        <div class="wrapper pb60">
            <div class="page-title">
                <h3>[[#{Functionalpositioning}]]</h3>
                <a href=" ">
                    <i class="iconfont icon-more"></i>
                </a>
            </div>
            <div class="trade-detail-grid-item-wrap">
                <a href="">
                    <div class="trade-detail-grid-item">
                        <img src="" alt="">
                        <div class="t1 ellipsis1 flexbox _content-sb">普洛斯（胶州）物流园项目 <i>右剪头</i></div>
                        <p class="t2 ellipsis2">普洛斯是全球领先的专注于物流、不动产、基础设施、金融及相关科技领域的投资管理与商...</p>
                    </div>
                </a>
                <a href="">
                    <div class="trade-detail-grid-item">
                        <img src="" alt="">
                        <div class="t1 ellipsis1 flexbox _content-sb">普洛斯（胶州）物流园项目 <i>右剪头</i></div>
                        <p class="t2 ellipsis2">普洛斯是全球领先的专注于物流、不动产、基础设施、金融及相关科技领域的投资管理与商...</p>
                    </div>
                </a>
                <a href="">
                    <div class="trade-detail-grid-item">
                        <img src="" alt="">
                        <div class="t1 ellipsis1 flexbox _content-sb">普洛斯（胶州）物流园项目 <i>右剪头</i></div>
                        <p class="t2 ellipsis2">普洛斯是全球领先的专注于物流、不动产、基础设施、金融及相关科技领域的投资管理与商...</p>
                    </div>
                </a>
            </div>
        </div>
    </section>

</section>
<footer th:replace="public/footer"></footer>

<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
<script src="../js/swiper-bundle.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

<script src="js/jquery.countup.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/qing.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script>
    // $(".switch-item").click(function(event) {
    //     $(this).addClass("selected");
    //     $(this).siblings().removeClass("selected");

    // })
</script>
</body>

</html>