<!DOCTYPE html>
<html lang="en">

<head th:replace="public/head::head('国际物流合作')"></head>

<body>
<header th:replace="public/header"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>

<section>
    <section>
        <div class="wrapper">
            <div class="page-title-switch left">
                <a href="/ci/trade_details_1" class="switch-item small " data-tag="1">国际贸易合作</a>
                <a href="/ci/trade_details_2" class="switch-item small selected" data-tag="2">国际物流合作</a>
                <a href="/ci/trade_details_3" class="switch-item small" data-tag="3">产能合作</a>
                <a href="/ci/trade_details_4" class="switch-item small" data-tag="4">商旅合作</a>
                <a href="/ci/trade_details_5" class="switch-item small" data-tag="5">综合创意</a>
            </div>

        </div>
    </section>
    <section>
        <div class="wrapper">
            <div class="trade-detail-item">
                <div class="trade-detail-item-info">
                    <p class="t1">[[#{InternationalLogisticsCenter}]]</p>
                    <p class="t2">
                        国际物流中心以打造海陆空铁“四港一体”国际联运综合港为目标，重点围绕畅通多式联运通道、集聚发展现代物流产业、优化多式联运综合服务功能、开展国际物流合作四个方面开展工作，致力于打造上合组织国家及沿黄流域面向日韩等国家的出海口，构建“东接日韩面向亚太、北接蒙俄、南连东盟、西接上合组织国家“的国际物流大通道。</p>
                    <p class="t2">2020年上合示范区多式联运中心完成 <br>集装箱作业量76.5万标箱、增长14%。<br> 开行欧亚班列401列、增长15.9%。</p>
                </div>
                <img src="../images/trade-detail21.png" alt="">
            </div>


        </div>

    </section>
    <section>
        <div class="wrapper">
            <div class="page-title">
                <h3>五港联动畅通国际多式联运通道</h3>
            </div>
            <div class="trade-detail2-transport-wrap pb50">
                <a href="" class="trade-detail2-transport-item scale">
                    <div class="img">
                        <img th:src="@{/images/express-d-11.png}" alt=""></div>
                    <h4>铁路运输</h4>
                    <p>依托上合多式联运中心，促进中欧班列增量扩线。目前上合示范区中欧班列已通达上合组织和“一带一路”沿线20个国家的49个城市。</p>
                </a>
                <a href="" class="trade-detail2-transport-item scale">
                    <div class="img">
                        <img  th:src="@{/images/express-d-12.png}" alt=""></div>
                    <h4>航空运输</h4>
                    <p>依托上合多式联运中心，促进中欧班列增量扩线。目前上合示范区中欧班列已通达上合组织和“一带一路”沿线20个国家的49个城市。</p>
                </a>
                <a href="" class="trade-detail2-transport-item scale">
                    <div class="img">
                        <img  th:src="@{/images/express-d-13.png}" alt=""></div>
                    <h4>公路运输</h4>
                    <p>依托传化公路港开通上合至俄罗斯莫斯科、匈牙利布达佩斯、哈萨克斯坦阿拉木图国际公路快线。</p>
                </a>
                <a href="" class="trade-detail2-transport-item scale">
                    <div class="img">
                        <img  th:src="@{/images/express-d-14.png}" alt=""></div>
                    <h4>[[#{shipping}]]</h4>
                    <p>依托青岛港新开4条通往上合组织国家的航线，包括3条俄罗斯线（海参崴、东方港）和1条印巴（印度金奈、印诺尔）线...</p>
                </a>
            </div>

<!--            <div>swiper</div>-->
        </div>
    </section>
    <section>
        <div class="gray-bg">
            <div class="wrapper">
                <div class="page-title">
                    <h3>物流公司</h3>
                </div>
                <div class="trade-detail-express-brand-wrap pb60">
                    <div class="brand-item"><img th:src="@{/images/express-b-1.png}" alt=""></div>
                    <div class="brand-item"><img th:src="@{/images/express-b-2.png}" alt=""></div>
                    <div class="brand-item"><img th:src="@{/images/express-d-3.png}" alt=""></div>
                    <div class="brand-item"><img th:src="@{/images/express-d-4.png}" alt=""></div>
                    <div class="brand-item"><img th:src="@{/images/express-d-5.png}" alt=""></div>
                    <div class="brand-item"><img th:src="@{/images/express-d-6.png}" alt=""></div>
                    <div class="brand-item"><img th:src="@{/images/express-d-7.png}" alt=""></div>
                    <div class="brand-item"><img th:src="@{/images/express-d-8.png}" alt=""></div>
                </div>
<!--                <div>swiper</div>-->
            </div>
        </div>

    </section>
    <section>
        <div class="wrapper">

            <div class="page-title">
                <h3>重点项目</h3>
                <a href="">
                    <div class="theme-button">[[#{Learnmore}]]</div>
                </a>
            </div>
            <div class="trade-detail2-grid-wrap">
                <a href="/ci/trade_details_product" class="trade-detail2-grid-item scale">
                    <div class="img">
                        <img src="../images/trade-detail11.png" alt="">
                    </div>
                    <h4>中国传化（上合）国际物流港项目</h4>
                    <p class="ellipsis2">中国传化（上合）国际物流港项目总投资100亿元，占地约1343亩，总建筑面积98.9万平方米...</p>
                    <div class="theme-button">[[#{Learnmore}]]</div>
                </a>
                <a href="" class="trade-detail2-grid-item scale">
                    <div class="img">
                        <img src="../images/trade-detail12.png" alt="">
                    </div>
                    <h4>青岛胶州宝湾国际物流园</h4>
                    <p class="ellipsis2">总投资3.2亿元，占地面积398亩，总规划建筑面积18.8万平方米，计容面积33.7万平方米...</p>
                    <div class="theme-button">[[#{Learnmore}]]</div>
                </a>
                <a href="" class="trade-detail2-grid-item scale">
                    <div class="img">
                        <img src="../images/trade-detail12.png" alt="">
                    </div>
                    <h4>日日顺（阿里巴巴）虚实网服务园</h4>
                    <p class="ellipsis2">项目位于上合示范区永定河路以北、滦河路以南、青山电器项目以西、百顿坩埚项目以东...</p>
                    <div class="theme-button">了解更多</div>
                </a>
            </div>
        </div>
    </section>
    <section>
        <style>
            .pagger {
                padding: 44px 0px;
            }
        </style>
        <div class="pagger">
            <div class="wrapper">

            </div>
        </div>
    </section>
</section>

<footer th:replace="public/footer"></footer>

<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
<script src="../js/swiper-bundle.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

<script src="js/jquery.countup.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/qing.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script>
    $(".switch-item").click(function (event) {
        $(this).addClass("selected");
        $(this).siblings().removeClass("selected");

    })
</script>
</body>

</html>