.modalbox.success {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all .3s cubic-bezier(0.25, 0.8, 0.25, 1);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 15px;
	background:rgba(0,0,0,.6);
	text-align: center;
}

@media (min-width: 1200px) {
	.modalbox.success {
		padding: 2rem 2rem;
	}
}

@media (max-width: 1200px) {
	.modalbox.success {
		padding: 0.5rem 0.5rem;
	}
}

.modalbox.success h1 {
	font-family: "Microsoft YaHei";font-weight: bold;color: #fff;margin: 10px 0;
}

@media (min-width: 1200px) {
	.modalbox.success h1 {
		font-size: 1.5rem;
	}
}

@media (max-width: 1200px) {
	.modalbox.success h1 {
		font-size: 0.45rem;
	}
}


.modalbox.success button, .modalbox.success button:active,  .modalbox.success button:focus {
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top: 25px;
	width: 45%;
	background: #2279d5;
	color: #fff;
	border-color: #2279d5;
	outline: 0;margin-right: 10px;
}
.modalbox.success button:hover, .modalbox.success button:active:hover, .modalbox.success button:focus:hover {
	color: #fff;
	background: #58bfbf;
	border-color: transparent
}

.center {
	float: none;
	margin-left: auto;
	margin-right: auto
}
.center .change a {
	clearn: both;text-align: right;
	display: block;
	margin-right:30px;
	color: #fff;
	margin-top: 20px;
}
.center .change a:hover {
	clearn: both;text-align: right;
	display: block;
	color: #58bfbf;text-decoration: none;
	margin-top: 20px;
}

@media (min-width: 1200px) {
	.center .change a {
		font-size: 1rem;
	}
}

@media (max-width: 1200px) {
	.center .change a {
		font-size: 0.25rem;
	}
}

.container_tip {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	/*position: absolute;*/
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index:9999;
	display: none;
}

@media (max-width: 1200px) {
	.container_tip {
		width: 90%;
	}
}

@media (min-width: 1200px) {
	.container_tip {
		width: 500px;
	}
}

.row_tip {
	box-sizing: border-box;
}

@media (min-width: 1200px) {
	.col-lg-5 {
		width: 100%;
	}
}

@media (min-width: 1200px) {
	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
		float: left;
	}
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

@media (min-width: 1200px) {
	.btn {
		font-size: 1rem;
	}
}

@media (max-width: 1200px) {
	.btn {
		font-size: 0.3rem;
	}
}