@font-face {
  font-family: "iconfont"; /* Project id 3526491 */
  src: url('iconfont.woff2?t=1666334506436') format('woff2'),
       url('iconfont.woff?t=1666334506436') format('woff'),
       url('iconfont.ttf?t=1666334506436') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Icon_down:before {
  content: "\e642";
}

.icon-Frame1:before {
  content: "\e97f";
}

.icon-Frame11:before {
  content: "\e980";
}

.icon-Frame5:before {
  content: "\e981";
}

.icon-Frame4:before {
  content: "\e983";
}

.icon-Frame3:before {
  content: "\e984";
}

.icon-right:before {
  content: "\e982";
}

.icon-Frame:before {
  content: "\e97e";
}

.icon-dayin:before {
  content: "\e97d";
}

.icon-download:before {
  content: "\e97c";
}

.icon-zhwl-img2:before {
  content: "\e97b";
}

.icon-more:before {
  content: "\e96b";
}

.icon-new_left_img:before {
  content: "\e970";
}

.icon-new_right_img:before {
  content: "\e972";
}

.icon-galender:before {
  content: "\e973";
}

.icon-round:before {
  content: "\e974";
}

.icon-zhxx-gjwl-right:before {
  content: "\e975";
}

.icon-service:before {
  content: "\e976";
}

.icon-zhwl-case-img2:before {
  content: "\e977";
}

.icon-zhfw-icon1:before {
  content: "\e978";
}

.icon-zhxx-left:before {
  content: "\e979";
}

.icon-zhwl-case-img4:before {
  content: "\e97a";
}

.icon-back-top:before {
  content: "\e96a";
}

.icon-bltg-right:before {
  content: "\e968";
}

.icon-zhxx-right21:before {
  content: "\e96d";
}

.icon-zhxx-right:before {
  content: "\e96e";
}

.icon-zhwl-img1:before {
  content: "\e96f";
}

.icon-zhxx-pdf:before {
  content: "\e971";
}

.icon-zhwl-img3:before {
  content: "\e965";
}

.icon-zhxx-right2:before {
  content: "\e96c";
}

.icon-zhfw-icon2:before {
  content: "\e964";
}

.icon-zhfw-icon4:before {
  content: "\e966";
}

.icon-zhwl-case-img1:before {
  content: "\e967";
}

.icon-zhwl-case-img3:before {
  content: "\e969";
}

.icon-Vector-down:before {
  content: "\e95c";
}

.icon-Vector-top:before {
  content: "\e95d";
}

.icon-tj:before {
  content: "\e95e";
}

.icon-Vector-right:before {
  content: "\e95f";
}

.icon-xq:before {
  content: "\e962";
}

.icon-video:before {
  content: "\e963";
}

.icon-search:before {
  content: "\e961";
}

.icon-notice:before {
  content: "\e960";
}

.icon-good:before {
  content: "\e956";
}

.icon-list2:before {
  content: "\e957";
}

.icon-jrfn-right:before {
  content: "\e958";
}

.icon-gys:before {
  content: "\e959";
}

.icon-list:before {
  content: "\e95a";
}

.icon-hz:before {
  content: "\e95b";
}

.icon-star:before {
  content: "\e955";
}

.icon-add:before {
  content: "\e954";
}

