<!DOCTYPE html>
<html lang="en">
<head th:replace="common/head::head(${view.name})"></head>

<body>
    <header th:replace="common/header::header(${currentNavList})"></header>
    <section th:replace="common/search"></section>
    <section th:replace="common/nav"></section>
    <section>
        <div class="gray-bg">
            <div class="wrapper">
                <div class="page-title-switch left">
                    <div class="switch-item selected" data-tag="1">上合之声</div>
                    <div class="switch-item" data-tag="2"><img th:src="@{/images/zhxx-new-icon.png}" alt=""></div>
                </div>
                <div class="sound-grid-wrap">
                    <a th:href="@{'/article/'+${view.id}+'/'+${article.id}}" th:each="article, articleStat : ${articleList.records}" th:if="${articleStat.index} lt 3">
                        <div class="sound-grid-item">
                            <img
                                    th:src="@{${article.coverImage}}"
                                    th:alt="${article.title}"
                                    onerror="this.src='https://cloud-assets-brwq.oss-cn-heyuan.aliyuncs.com/sh0722/uploads/20220722/6f99e70d29e4df3058f9484dba0d2390.png';this.οnerrοr=null"
                            >
                            <p class="t1 ellipsis1">[[${article.title}]]</p>
                            <p class="t2">[[${#dates.format(article.createTime,'yyyy年MM月dd')}]]</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="wrapper">
            <div class="sound-list-wrap">
                <ul>
                    <a th:href="@{'/article/'+${item.id}}" th:each="item, itemStat : ${articleList.records} " th:if="${itemStat.index} gt 3" class="sound-list-item">
                        <img
                                th:src="@{${item.coverImage}}"
                                th:alt="${item.title}"
                                onerror="this.src='https://cloud-assets-brwq.oss-cn-heyuan.aliyuncs.com/sh0722/uploads/20220722/6f99e70d29e4df3058f9484dba0d2390.png';this.οnerrοr=null"
                        >
                        <div>
                            <p class="t1 ellipsis1">[[${item.title}]]</p>
                            <p class="t3">[[${item.description}]]</p>
                            <div class="flexbox _content-sb">
                                <p class="t2">[[${#dates.format(item.createTime,'yyyy年MM月dd')}]]</p>
                                <div class="theme-button">[[#{Learnmore}]]</div>
                            </div>
                        </div>
                    </a>
                </ul>
            </div>
            <div th:replace="common/pagination::pagination(${articleList},'')"></div>
        </div>
    </section>
    <footer th:replace="common/footer"></footer>
</body>
</html>