<!DOCTYPE html>
<html lang="en">

<head th:replace="public/head::head('文章')"></head>

<body>
<header th:replace="public/header5"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>

<body>
    <section>
        <div class="wrapper">
            <div class="article-details flexbox">
                <div class="article-content _item-auto">
                    <h1>上合示范区领导拜访俄罗斯石油股份公司和俄罗斯铝业联合公司驻华代表处</h1>
                    <div class="mt20 flexbox">
                        <span>2022.07.22</span>
                        <span>来源：原创</span>
                        <div class="share-bar">
                            <div>分享: </div>
                            <a href="#"></a>
                        </div>
                    </div>
                    <div class="con-del" th:utext="${view.content}"></div>
                </div>
                <div class="article-relation ">
                    <div class="rel-title mb15">推荐新闻</div>
                    <ul class="rel-list">
                        <li>
                            <a href="#">
                                <div class="rel-list-item">
                                    <div class="article-cover br10">
                                        <img src="" alt="">
                                    </div>
                                    <h5 class="article-title ellipsis2 mt15">2021上海合作组织国际投资贸易博览会暨上海合作组织地方经贸合作青岛论...</h5>
                                    <p class="article-sub mt10">2022年07月11日</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="rel-list-item">
                                    <h5 class="article-title ellipsis2 mt15">2021上海合作组织国际投资贸易博览会暨上海合作组织地方经贸合作青岛论...</h5>
                                    <p class="article-sub mt10">2022年07月11日</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="rel-list-item">
                                    <h5 class="article-title ellipsis2 mt15">2021上海合作组织国际投资贸易博览会暨上海合作组织地方经贸合作青岛论...</h5>
                                    <p class="article-sub mt10">2022年07月11日</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <footer th:replace="public/footer"></footer>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>
    <script src="js/jquery.countup.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/qing.js"></script>
</body>
</html>