<!DOCTYPE html>
<html lang="en">
<head th:replace="public/head::head('文章')"></head>

<body>
<header th:replace="public/header5"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>

<section>
        <section class="gray-bg">
            <div class="wrapper">
                <div class="page-title">
                    <h3>新闻政策</h3>
                </div>
                <div class="flexbox _items-mid article-top">
                    <a href="/home/article_details">
                        <div class="article-top-item">
                            <div class="article-cover br10">
                                <img src="" alt="">
                            </div>
                            <h5 class="article-title mt20">上合示范区领导摆放俄罗斯石油股份公司和俄罗斯铝业联合公司驻华代表</h5>
                            <p class="article-sub mt10">2022年07月11日</p>
                        </div>
                    </a>
                    <a href="/home/article_details">
                        <div class="article-top-item">
                            <div class="article-cover br10">
                                <img src="" alt="">
                            </div>
                            <h5 class="article-title mt20">上合示范区领导摆放俄罗斯石油股份公司和俄罗斯铝业联合公司驻华代表</h5>
                            <p class="article-sub mt10">2022年07月11日</p>
                        </div>
                    </a>
                    <a href="/home/article_details">
                        <div class="article-top-item">
                            <div class="article-cover br10">
                                <img src="" alt="">
                            </div>
                            <h5 class="article-title mt20">上合示范区领导摆放俄罗斯石油股份公司和俄罗斯铝业联合公司驻华代表</h5>
                            <p class="article-sub mt10">2022年07月11日</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <section>
            <div class="wrapper">
                <ul class="article-list">
                    <li>
                        <a href="/home/article_details">
                            <div class="article-list-item flexbox _items-mid">
                                <div class="article-cover br10">
                                    <img src="" alt="">
                                </div>
                                <div class="it-info">
                                    <h5 class="article-title">上合示范区领导摆放俄罗斯石油股份公司和俄罗斯铝业联合公司驻华代表</h5>
                                    <p class="article-desc mt10">上合示范区着力推动的国别中心项目正式加速建设。2月22日，巴基斯坦中心项目推进专题会在上合示范区上合服务中心召开。</p>
                                    <p class="article-sub mt30">2022年07月11日</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/home/article_details">
                            <div class="article-list-item flexbox _items-mid">
                                <div class="article-cover br10">
                                    <img src="" alt="">
                                </div>
                                <div class="it-info">
                                    <h5 class="article-title">上合示范区领导摆放俄罗斯石油股份公司和俄罗斯铝业联合公司驻华代表</h5>
                                    <p class="article-desc mt10">上合示范区着力推动的国别中心项目正式加速建设。2月22日，巴基斯坦中心项目推进专题会在上合示范区上合服务中心召开。</p>
                                    <p class="article-sub mt30">2022年07月11日</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </section>

<footer th:replace="public/footer"></footer>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

    <script src="js/jquery.countup.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/qing.js"></script>
</body>
</html>