<!DOCTYPE html>
<html lang="en">


<head th:replace="public/head::head('[[#{OnlineReceptionRoom}]]')"></head>

<body>
<header th:replace="public/header6"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>

<section>

  <section>
    <div class="gray-bg">
      <div class="wrapper">
        <div class="contact-header-wrap">
          <div class="contact-header-left">
            <img th:src="@{/images/wmch-logo.png}" alt="">
            <h4>中国-上海合作组织地方经贸合作综合服务平台</h4>
            <p>Китайско-местное экономическое и торговое сотрудничество Платформа комплексного обслуживания</p>
            <p>China-scolocal economic and trade cooperation Comprehensive service platform</p>
          </div>
          <div class="contact-header-right">
            <div class="page-title">
              <h3>关于上合</h3>
            </div>
            <p>八个成员国：印度共和国、哈萨克斯坦共和国、中华人民共和国、吉尔吉斯共和国、巴基斯坦伊斯兰共和国、俄罗斯联邦、塔吉克斯坦共和国、乌兹别克斯坦共和国；</p>
            <br>
<!--            <p>四个观察员国：阿富汗伊斯兰共和国、白俄罗斯共和国、伊朗伊斯兰共和国、蒙古国；</p>-->
            <p>三个观察员国：阿富汗伊斯兰共和国、白俄罗斯共和国、蒙古国；</p>
            <br>
            <p>九个对话伙伴国：阿塞拜疆共和国、亚美尼亚共和国、柬埔寨王国、尼泊尔联邦民主共和国、土耳其共和国和斯里兰卡民主社会主义共和国。</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section>
    <div class="wrapper">
      <div class="page-title">
        <h3>联系方式</h3>
      </div>
      <div class="map-wrap">
        <div class="map-item">
          <div>
            <img th:src="@{/images/map-address.png}" alt=""><span>山东省青岛市上合示范区长江一路1号上合服务中心</span>
          </div>
          <div>
            <img th:src="@{/images/map-mail.png}" alt=""> <span>contact@scocsp.com</span>
          </div>
          <div>
            <img th:src="@{/images/map-phone.png}" alt=""> <span>0532-85270001</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>


<script>
</script>
</body>

</html>