<!DOCTYPE html>
<html lang="en">


<head th:replace="public/head::head('智慧物流')"></head>

<body>
<header th:replace="public/header2"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>

    <section>
        <section>
            <div class="wrapper">
                <div class="page-title">
                    <h3>智慧物流</h3>
                </div>
                <div class="express-grid-wrap1">
                    <div class="express-grid-item1">
                        <i class="iconfont icon-zhwl-img1"></i>
                        <p class="t1">[[#{ShandongHi-speedChina-EuropeRailwayExpressServicePlatform}]]</p>
                        <p class="t2">高度产品化，涵盖仓库全业务需求
                            <br> 智能化作业指导，优化的作业流程和策略
                            <br>全渠道业务支持，无纸化作业管理
                        </p>
                        <a href="http://58.56.128.186:10134" target="_blank" class="express-more-btn">
                            [[#{Learnmore}]]
                        </a>
                    </div>
                    <div class="express-grid-item1">
                        <i class="iconfont icon-zhwl-img2"></i>
                        <p class="t1">[[#{MultimodalTransportintegratedServicePlatfom}]]</p>
                        <p class="t2">高度产品化，涵盖仓库全业务需求
                            <br> 智能化作业指导，优化的作业流程和策略
                            <br>全渠道业务支持，无纸化作业管理
                        </p>
                        <a href="/home/express_separate" class="express-more-btn">
                            [[#{Learnmore}]]
                        </a>
                    </div>
                    <div class="express-grid-item1">
                        <i class="iconfont icon-zhwl-img3"></i>
                        <p class="t1">上合·易融链服务平台</p>
                        <p class="t2">高度产品化，涵盖仓库全业务需求
                            <br> 智能化作业指导，优化的作业流程和策略
                            <br>全渠道业务支持，无纸化作业管理
                        </p>
                        <a href="/home/express_simplex" class="express-more-btn">
                            [[#{Learnmore}]]
                        </a>
                    </div>
                </div>

            </div>




            <div class="express-center-wrap">
                <div class="wrapper">

                    <div class="express-grid-wrap2">
                        <div class="express-grid-item2">
                            <i class="iconfont icon-zhwl-case-img1"></i>
                            <h4>[[#{shipping}]]</h4>
                            <p>
                                全球海运、国际直航、江海直航、<br>直装直提、物流追踪、全链条管理
                            </p>
                        </div>
                        <div class="express-grid-item2">
                            <i class="iconfont icon-zhwl-case-img2"></i>
                            <h4>[[#{airtransport}]]</h4>
                            <p>
                                航空物流、航空器、包机运输、<br>班机运输、集中托运、航空快递
                            </p>
                        </div>
                        <div class="express-grid-item2">
                            <i class="iconfont icon-zhwl-case-img3"></i>
                            <h4>[[#{railway}]]</h4>
                            <p>
                                一带一路、中欧班列、关铁通、<br>中吉乌铁路、欧亚陆上大通道公路
                            </p>
                        </div>
                        <div class="express-grid-item2">
                            <i class="iconfont icon-zhwl-case-img4"></i>
                            <h4>[[#{road}]]</h4>
                            <p>
                                集装箱运输、拖挂运输、中欧卡航、<br>智慧交通、国际物流枢纽
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="express-grid-wrap3">
                    <div class="express-grid-item3">
                        <img th:src="@{/images/express-21.png}" alt="">
                        <h4>山东省港口集团有限公司</h4>
                        <p>
                            山东省港口集团有限公司是省属国有重要骨干企业，成立于2019年8月6日，总部位于山东青岛
                        </p>
                    </div>
                    <div class="express-grid-item3">
                        <img th:src="@{/images/express-22.png}" alt="">
                        <h4>青岛国际机场集团有限公司</h4>
                        <p>
                            青岛国际机场集团坚持以创造美好价值、成为值得信赖的机场管理机构为使命，以创建“世界一流、国内领先”的东北亚国际枢纽
                        </p>
                    </div>
                    <div class="express-grid-item3">
                        <img th:src="@{/images/express-23.png}" alt="">
                        <h4>中铁联合国际集装箱有限公司</h4>
                        <p>
                            公司主要负责集装箱中心站的建设及集装箱到发、装卸、拼箱、掏装箱、堆存、修箱、报关、转关、清关与查验等场站业务；集装箱公路运输、配送及物流业务；国际货运代理；多式联运业务；承包集装箱班列；仓储服务；道路货物运输等
                        </p>
                    </div>
                    <div class="express-grid-item3">
                        <img th:src="@{/images/express-24.png}" alt="">
                        <h4>青岛传化公路港物流有限公司</h4>
                        <p>
                            经营范围主要包括道路普通货物运输、货物专用运输（集装箱、冷藏保鲜）、大型货物运输（三类）；集装箱拆箱、拼箱服务；代理报关、报检服务；国内公路、铁路货运代理经纪服务
                        </p>
                    </div>
                </div>


            </div>
        </section>

    </section>
<footer th:replace="public/footer"></footer>

    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

    <script src="js/jquery.countup.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/qing.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script>
    </script>
</body>

</html>