<!DOCTYPE html>
<html lang="en">


<head th:replace="public/head::head('智慧物流')"></head>

<body>
<header th:replace="public/header2"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>

<section>
    <div class="wrapper express-simplex-wrapper">
        <div class="flexbox _content-sb">
            <h3>“上合·易融链”跨境联盟网络</h3>
            <a href="http://47.94.198.42/login?redirect=%2F" target="_blank">
                <div class="theme-button">[[#{Learnmore}]]</div>
            </a>
        </div>
        <div class="express-simplex-img1">
            <img src="/images/express-s-1.png" alt="">
        </div>
        <div>
            <h4>[[#{ProjectOverview}]]</h4>
            <p> 为探索铁路运单及多式联运数字”上合·易融链“运单金融属性，解决大量中小企业的融资贷款和快速通关难题，上合示范区多式联运“上合·易融链”跨境联盟网络，运用区块链技术，通过银行、物流公司、贸易公司、税务、海关、铁路等多方参与，签订多方协议，搭建提高贸易物流可信度的进出口跨境服务联盟网络，基于“区块链+ 互联网技术”为多方提供创新性服务平台。同时借助物流大数据分析和区块链技术赋能，基于多方交叉验证的可信数据包，在金融风险可控的前提下，提供以 “区块链票据”作为开发主体的金融服务产品。</p>
        </div>
        <div class="express-simplex-center flexbox _content-sb">
            <img src="/images/express-s-2.png" alt="">
        </div>
        <div>
            <h4>[[#{ProjectFunction}]]</h4>
            <div class="express-simplex-item">
                <img src="/images/express-s-3.png" alt="">
                <div class="express-simplex-info">
                    <h5>[[#{Buildaninterconnectedandtrustedcross-borderallianc}]]</h5>
                    <p>
                        [[#{Basedonblockchaindistributedledger,digitalidentity}]]
                    </p>
                </div>
            </div>
            <div class="express-simplex-item">
                <div class="express-simplex-info">
                    <h5>[[#{Buildaninterconnectedandtrustedcross-borderallianc}]]</h5>
                    <p>
                        [[#{Basedonblockchaindistributedledger,digitalidentity}]]
                    </p>
                </div>
                <img src="/images/express-s-4.png" alt="">
            </div>
        </div>
        <div class="express-simplex-img2">
            <img src="/images/express-s-5.png" alt="">
        </div>
        <div class="express-simplex-bottom">
            <h4>[[#{Advantages}]]</h4>
            <div class="flexbox _content-sb">
                <div class="express-simplex-info">
                    <img src="/images/express-s-6.png" alt="">
                    <h5>[[#{Transparenttransactiondatareshapesthetrustnetwork}]]</h5>
                    <p>[[#{Relyingonblockchaintechnology,realizetheexchangean}]]</p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="public/footer"></footer>

<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
<script src="../js/swiper-bundle.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

<script src="js/jquery.countup.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/qing.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script>
</script>
</body>

</html>