<!DOCTYPE html>
<html lang="en">


<head th:replace="public/head::head('智慧物流')"></head>

<body>
<header th:replace="public/header2"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>

<section>
    <div class="wrapper express-separate-wrapper">
        <div class="flexbox _content-sb">
            <h3>多式联运综合服务</h3>
            <a href="http://114.67.83.211/portaltruck"  target="_blank">
                <div class="theme-button">[[#{Learnmore}]]</div>
            </a>
        </div>
        <div class="mt40">
            <p class="detail-content-text text-indent">
                [[#{Themultimodaltransportcomprehensiveserviceplatform1}]]
            </p>
            <br>
            <p class="detail-content-text text-indent">
                [[#{Themultimodaltransportcomprehensiveserviceplatform}]]
            </p>
        </div>

        <div class="express-separate-img1">
            <img th:src="@{/images/express-s-11.png}" alt="">
        </div>
        <div class="express-simplex-bottom">
            <h4>[[#{FeatureDisplay}]]</h4>
            <div class="flexbox _content-sb">
                <div class="express-simplex-info">
                    <img th:src="@{/images/express-s-12.png}" alt="">
                    <h5>[[#{Efficientcoordinationofsea,land,airandrailway}]]</h5>
                    <p class="detail-content-text">
                        [[#{Throughtheintegrationofbusinessflows,dataflows,cap}]]
                    </p>
                </div>
                <div class="express-simplex-info">
                    <img th:src="@{/images/express-s-13.png}" alt="">
                    <h5>[[#{Satelliteempoweredsupervisionofintermodal]]]</h5>
                    <p class="detail-content-text">
                        [[#{Deeplyintegratenew-generationinformationtechnologi}]]
                    </p>
                </div>
            </div>
            <div class="flexbox _content-sb mt40">
                <div class="express-simplex-info">
                    <img th:src="@{/images/express-s-14.png}" alt="">
                    <h5>[[#{Visualtrackingandsupervisionthroughouttheprocess]]]</h5>
                    <p class="detail-content-text">
                        [[#{Throughtheconnectionwithrailways,highways,ships,an}]]
                    </p>
                </div>
                <div class="express-simplex-info">
                    <img th:src="@{/images/express-s-15.png}" alt="">
                    <h5>[[#{Dataanalysisservice}]]</h5>
                    <p class="detail-content-text">
                    [[#{Conductcentralizedstoragemanagement,statisticalana}]]
                    </p>
                </div>
            </div>
        </div>
        <div class="express-separate-bottom">
            <h4>[[#{Advancedtechnology}]]</h4>
            <ul id="accordion" class="accordion mt20">
                <li class='accordion-item'>
                    <div class="tit is-active">
                        <p>[[#{Highlyinnovativelogisticstechnologyandplatform-bas}]]</p> <i class="iconfont icon-Vector-top"></i></div>
                    <p class="desc is-active">
                        [[#{Logisticstechnologymakesfulluseofsatelliteconstell}]]
                    </p>
                </li>
                <li class='accordion-item'>
                    <div class="tit">
                        <p>[[#{Standardizedandrefinedbusinessoperations}]]</p> <i class="iconfont icon-Vector-down"></i>
                    </div>
                    <p class="desc">[[#{Standardizethebusinessoperationprocess,clarifythek}]]</p>
                </li>
                <li class='accordion-item'>
                    <div class="tit">
                        <p> [[#{One-stopcustomerservice,one-ordersystemonline}]]</p> <i class="iconfont icon-Vector-down"></i></div>
                    <p class="desc">[[#{ConductthenationalInternetstrategybuildacompre}]]</p>
                </li>
                <li class='accordion-item'>
                    <div class="tit">
                        <p>[[#{Integrationofoperationmanagementandcontrol}]]</p> <i class="iconfont icon-Vector-down"></i></div>
                    <p class="desc">[[#{Strengthenthecoordination,management,supervisionan}]]</p>
                </li>
                <li class='accordion-item'>
                    <div class="tit">
                        <p>[[#{Dataizationofstrategicdecision-making}]]</p> <i class="iconfont icon-Vector-down"></i></div>
                    <p class="desc">
                        [[#{Withthecollaborationofsupplychainandlogistics,ande}]]
                    </p>
                </li>
                <li class='accordion-item'>
                    <div class="tit">
                        <p> [[#{Ecologicalbusinesscollaboration}]]</p> <i class="iconfont icon-Vector-down"></i></div>
                    <p class="desc">
                        [[#{Withthecollaborationofsupplychainandlogistics,ande}]]`
                    </p>
                </li>
                <li class='accordion-item'>
                    <div class="tit">
                        <p>[[#{Innovativetransactionmatchingmechanism}]]</p> <i class="iconfont icon-Vector-down"></i></div>
                    <p class="desc"> [[#{Gatherpallets,ships,andvehiclecapacityinformation}]]</p>
                </li>
                <li class='accordion-item'>
                    <div class="tit">
                        <p> [[#{Intelligentrecommendationofintermodalsolutions}]]</p> <i class="iconfont icon-Vector-down"></i></div>
                    <p class="desc">
                        [[#{Comprehensivelyconsiderseasonalfactors,plusthetran}]]
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
<footer th:replace="public/footer"></footer>

<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
<script src="../js/swiper-bundle.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

<script src="js/jquery.countup.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script>
</script>
<script>
    // 改进版本的手风琴菜单效果
    $('#accordion .tit').click(function () {
        $(this).addClass('is-active');
        $(this).next('.desc').slideToggle();
        $(this).find('.iconfont').removeClass('icon-Vector-down').addClass('icon-Vector-top')


        $(this).parent().siblings('li').find('.tit').removeClass('is-active')
        $(this).parent().siblings('li').find('.desc').slideUp();
        $(this).parent().siblings('li').find('.iconfont').removeClass('icon-Vector-top').addClass('icon-Vector-down')

        $(".accordion-img").attr('src', '')
    });
</script>
</body>

</html>