<!DOCTYPE html>
<html lang="en">

<head th:replace="public/head::head('[[#{DigitalSCO}]]')"></head>

<body>
<header th:replace="public/header2"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>

    <section>
        <section>
            <div class="wrapper">
                <div class="trade-list-wrap">
                    <div class="trade-list-item">
                        <img src="../images/figure1.png" alt="">
                        <div class="trade-list-item-info">
                            <p class="t1">贸易指数</p>
                            <p class="t2">[[#{Itcanrealizethemulti-dimensionalquery}]]</p>
                            <a href="http://sco-tradeindex.customs.gov.cn/" target="_blank">
                                <div class="theme-button">
                                    [[#{Learnmore}]]
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="trade-list-item">
                        <div class="trade-list-item-info">
                            <p class="t1">[[#{DataCockpit}]]</p>
                            <p class="t2">[[#{ItgatherstheeconomicandtradedataoftheSCOcountries}]]</p>
                            <a href="https://fininfov.cnfic.com.cn/shareScreen/eyJzY3JlZW5JZCI6MTgyODV9" target="_blank">
                                <div class="theme-button">
                                    [[#{Learnmore}]]
                                </div>
                            </a>
                        </div>
                        <img src="../images/figure2.png" alt="">
                    </div>

                </div>
            </div>
        </section>
    </section>

<footer th:replace="public/footer"></footer>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

    <script src="js/jquery.countup.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/qing.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script>
    </script>
</body>

</html>