<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="public/head::head('金融赋能')"></head>

<body>
<header th:replace="public/header2"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>

<section>
    <div class="wrapper">
        <div class="financial-item">

            <img src="/images/peace1.png" alt="">
            <div class="financial-item-info">
                <p class="t1">[[#{DagongGlobalCreditRatingCo}]]</p>
                <p class="t2">[[#{DagongGlobalCreditRatingCoLtd}]]</p>
                <a href="#">
                    <div class="theme-button">[[#{Learnmore}]]</div>
                </a>
            </div>
        </div>
        <div class="financial-item">
            <div class="financial-item-info">
                <p class="t1">[[#{supplychainfinance}]]</p>
                <p class="t2">随着社会化生产方式的不断深入，市场竞争已经从单一客户之间的竞争转变为供应链与供应链之间的竞争，同一供应链内部各方相互依存，"一荣俱荣、一损俱损"；与此同时，由于赊销已成为交易的主流方式，处于供应链中上游的供应商，很难通过"传统"的信贷方式获得银行的资金支持...</p>
                <a href="#">
                    <div class="theme-button">[[#{Learnmore}]]</div>
                </a>
            </div>
            <img src="/images/jrfn-img1.png" alt="">
        </div>
        <div class="financial-grid-wrap">
            <a href="#" class="financial-grid-item scale">
                <div class="img">
                    <img src="/images/cpic.png" alt="">
                </div>
                <div class="tit">
                    <h4>[[#{ChinaPacificInsuranceCompany}]]</h4>
                </div>
                <p>中国太平洋保险是国内领先的综合性保险集团,太保官网为约8699...</p>
            </a>
            <a href="#" class="financial-grid-item scale">
                <div class="img">
                    <img src="/images/jrfn-img2.png" alt="">
                </div>
                <div class="tit">
                    <h4>[[#{CreditInsurance}]]</h4>
                </div>
                <p>信用保险，是指保险人对被保险人信用放款或信用售货，债务人拒绝履行合同或不能清偿债务时，所受到的经济损失承担...</p>
            </a>
            <a href="http://47.94.198.42/login?redirect=%2Fdashboard" target="_blank" class="financial-grid-item scale">
                <div class="img">
                    <img src="/images/jrfn-img3.png" alt="">
                </div>
                <div class="tit">
                    <h4>[[#{SCOBlockchain-basedFinancingServicePlatform}]]</h4>
                </div>
                <p>上合组织、伊斯兰合作组织、突厥议会、北约和平伙伴关系会、欧亚委员会等国际组织。 国家结构形式:单一制 政治体制...</p>
            </a>
            <a href="http://58.56.128.186:10134#login" target="_blank" class="financial-grid-item scale">
                <div class="img">
                    <img src="/images/jrfn-img4.png" alt="">
                </div>
                <div class="tit">
                    <h4>中欧班列运费融资服务</h4>
                </div>
                <p>4月25日，成都国际铁路班列有限公司和建设银行四川分行联合开发的创新融资产品“中欧班列运费贷”成功向班列公司...</p>
            </a>
        </div>
    </div>
</section>

<footer th:replace="public/footer"></footer>

<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
<script src="../js/swiper-bundle.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
<script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

<script src="js/jquery.countup.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/qing.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script>
</script>
</body>

</html>