<!DOCTYPE html>
<html lang="en">


<head th:replace="public/head::head('[[#{One-stopCustomsClearance}]]')"></head>

<body>
<header th:replace="public/headerfunapp"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>

<section><div class="wrapper">
    <div class="mb60">
        <div class="page-title">
            <h3>
                [[#{One-stopCustomsClearance}]]
            </h3>
        </div>
        <div class="pass-grid-wrap sh-visited">
            <a href="https://www.singlewindow.cn/#/parameter" target="_blank" class="pass-grid-item">
                <p>
                    通关参数应用查询
                </p>
                <span>[[#{Enterthesystem}]]</span> </a> <a href="http://scocsp.com/shsw/" target="_blank" class="pass-grid-item">
            <p>
                单一窗口标准版
            </p>
            <span>[[#{Enterthesystem}]]</span> </a> <a href="/funapp-through-infoService" target="_blank" class="pass-grid-item">
            <p>
                关务综合信息服务
            </p>
            <span>[[#{Enterthesystem}]]</span> </a> <a href="/funapp-through-declaration" target="_blank" class="pass-grid-item">
            <p>
                一单两报
            </p>
            <span>[[#{Enterthesystem}]]</span> </a>
        </div>
        <div class="mt60">
            <h4 class="detail-content-title mb20">
                通关参数应用查询
            </h4>
            <p class="detail-content-text text-indent">
                提供监管方式、征免性质、国别(地区)（海关）、国内地区（海关）、海关关区、计量单位（海关）、运输方式（海关）、主机种类（海事）、船体材料 （海事）、海事局（海事）、证件类型（对应海事、海关、边检）、边检出入口岸、海关税则编号(HS编码)、申报要素(规格型号)等通关参数的查询功能。
            </p>
        </div>
        <div class="mt60">
            <h4 class="detail-content-title mb20">
                单一窗口标准版应用集成
            </h4>
            <p class="detail-content-text text-indent">
                集成中国国际贸易单一窗口的19大功能，包括企业资质、许可证件、原产地证书、货物申报、运输工具、舱单申报、税费支付、出口退税、加贸保税、物品通关、跨境电商、查询统计等。该功能主要为上合组织国家之间的经贸企业开展相关业务提供服务，实现包括企业备案、监管证件申请、原产地证申请、运输工具、舱单、货物、税费、检验检疫等涉及的核心业务办理，同时也包括金融服务、口岸收费等辅助业务开展。
            </p>
        </div>
        <div class="mt60">
            <h4 class="detail-content-title mb20">
                关务综合信息服务
            </h4>
            <p class="detail-content-text text-indent">
                结合海关最新监管要求和企业实际业务流程，帮助企业搭建国际贸易日常进出口管理平台，系统提供全方位的强大内控管理功能，助力企业提升 AEO 认证管控能力，为企业构筑“贸易安全，通关便捷”的通关体制。
            </p>
        </div>
        <div class="mt60">
            <h4 class="detail-content-title mb20">
                一单两报
            </h4>
            <p class="detail-content-text text-indent">
                通过平台一次性申报报关单证信息可同步生成我国出口报关单和俄方进口预申报报关单，“一单”完成中俄两国的报关单据的录入和生成，提升了国际贸易通关便利化。
            </p>
        </div>
        <div class="pass-img1">
            <img src="/images/bltg-img.png" alt="" />
        </div>
    </div>
</div>
    <style>
        .sh-visited a:hover,
        .sh-visited a:link,
        .sh-visited a:visited,
        .sh-visited a.is-active {
            color: #FFF;
        }
    </style></section>

<footer th:replace="public/footer"></footer>


    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

    <script src="js/jquery.countup.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/qing.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script>
    </script>
</body>

</html>