<!DOCTYPE html>
<html lang="en">

<head th:replace="public/head::head('上合讲堂服务')"></head>

<body>
<header th:replace="public/header3"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>
    <section>
        <section>
            <div class="meetingOrder-service-container">
                <div class="wrapper">
                    <div class="meetingOrder-live">
                        <h4>[[#{SCONationalLectureHall}]]</h4>
                        <div class="btn">
                            <i class="iconfont icon-video"></i>
                            <span>[[#{Enterthelivestream}]]</span>
                        </div>
                        <p>[[#{Livestreamstarttime}]]：2022年08月01日</p>
                    </div>
                    <div class="meetingOrder-title-item">
                        <img th:src="@{/images/mask}" alt="">
                        <div class="tit">[[#{SCONationalLectureHall}]]</div>
                        <img th:src="@{/images/mask-group-img5.png}" alt="">
                    </div>
                    <div class="meetingOrder-content-wrap">
                        <img th:src="@{/images/quotes.png}" alt="">
                        <p>上合示范区在服务国家对外工作大局，强化地方使命担当方面具有重要政治意义。国务院在《中国—上海合作组织地方经贸合作示范区建设总体方案》批复中指出，按照党中央、国务院决策部署，上合示范区要打造“一带一路”国际合作新平台，拓展国际物流、现代贸易、双向投资、商旅文化交流等领域合作，更好发挥青岛在“一带一路”新亚欧大陆桥经济走廊建设和海上合作中的作用，加强我国同上海合作组织国家互联互通，着力推动形成陆海内外联动、东西双向互济的开放格局。</p>
                        <img th:src="@{/images/unquotes.png}" alt="">
                    </div>
                    <div class="meetingOrder-title-item">
                        <img th:src="@{/images/mask}" alt="">
                        <div class="tit">[[#{Livestreamplanrelease}]]</div>
                        <img th:src="@{/images/mask-group-img5.png}" alt="">
                    </div>
                    <div class="meetingOrder-service-grid-wrap">
                        <div class="meetingOrder-service-grid-item">
                            <div class="meetingOrder-service-grid-info">
                                <h4>[[#{MediaLive}]]</h4>
                                <p>[[#{Supportsimultaneouslivebroadcastofmainstreammedias}]]</p>
                            </div>
                        </div>
                        <div class="meetingOrder-service-grid-item">
                            <div class="meetingOrder-service-grid-info">
                                <h4>[[#{On-sitecheck-in}]]</h4>
                                <p>[[#{Provideavarietyofon-sitesign-inmethods;experienced}]]</p>
                            </div>
                        </div>
                        <div class="meetingOrder-service-grid-item">
                            <div class="meetingOrder-service-grid-info">
                                <h4>[[#{Siteexecution}]]</h4>
                                <p>[[#{Configureprofessionallivebroadcastequipmenttoensur}]]</p>
                            </div>
                        </div>
                        <div class="meetingOrder-service-grid-item">
                            <div class="meetingOrder-service-grid-info">
                                <h4>[[#{Multi-siteinteraction}]]</h4>
                                <p>[[#{Videoofthemainvenueandsub-venues,face-to-faceinter}]]</p>
                            </div>
                        </div>
                    </div>
                    <div class="meetingOrder-title-item">
                        <img th:src="@{/images/mask}" alt="">
                        <div class="tit">直播回放</div>
                        <img th:src="@{/images/mask-group-img5.png}" alt="">
                    </div>
                    <div class="meetingOrder-grid-wrap mt20 pb60">
                        <a href="meetingOrder-grid-item2">
                            <div class="meetingOrder-grid-item2">
                                <img th:src="@{/images/Mask}" alt="">
                                <h4>[[#{themeandcontentofthelive}]]</h4>
                                <div class="meetingOrder-grid-item2-info">
                                    <p>2022年07月14日</p>
                                    <div class="meetingOrder-grid-item2-info-c">
                                        <div class="replay-btn">[[#{playback}]]</div>
                                        <p>12.5万 [[#{watch}]]</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="meetingOrder-grid-item2">
                            <div class="meetingOrder-grid-item2">
                                <img th:src="@{/images/Mask}" alt="">
                                <h4>[[#{themeandcontentofthelive}]]</h4>
                                <div class="meetingOrder-grid-item2-info">
                                    <p>2022年07月14日</p>
                                    <div class="meetingOrder-grid-item2-info-c">
                                        <div class="replay-btn">[[#{playback}]]</div>
                                        <p>12.5万 [[#{watch}]]</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="meetingOrder-grid-item2">
                            <div class="meetingOrder-grid-item2">
                                <img th:src="@{/images/Mask}" alt="">
                                <h4>[[#{themeandcontentofthelive}]]</h4>
                                <div class="meetingOrder-grid-item2-info">
                                    <p>2022年07月14日</p>
                                    <div class="meetingOrder-grid-item2-info-c">
                                        <div class="replay-btn">[[#{playback}]]</div>
                                        <p>12.5万 [[#{watch}]]</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="meetingOrder-grid-item2">
                            <div class="meetingOrder-grid-item2">
                                <img th:src="@{/images/Mask}" alt="">
                                <h4>[[#{themeandcontentofthelive}]]</h4>
                                <div class="meetingOrder-grid-item2-info">
                                    <p>2022年07月14日</p>
                                    <div class="meetingOrder-grid-item2-info-c">
                                        <div class="replay-btn">[[#{playback}]]</div>
                                        <p>12.5万 [[#{watch}]]</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="meetingOrder-grid-item2">
                            <div class="meetingOrder-grid-item2">
                                <img th:src="@{/images/Mask}" alt="">
                                <h4>[[#{themeandcontentofthelive}]]</h4>
                                <div class="meetingOrder-grid-item2-info">
                                    <p>2022年07月14日</p>
                                    <div class="meetingOrder-grid-item2-info-c">
                                        <div class="replay-btn">[[#{playback}]]</div>
                                        <p>12.5万 [[#{watch}]]</p>
                                    </div>
                                </div>
                            </div>
                        </a>


                    </div>
                </div>

            </div>


        </section>

    </section>
<footer th:replace="public/footer"></footer>


    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

    <script src="js/jquery.countup.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/qing.js"></script>
</body>

</html>