<!DOCTYPE html>
<html lang="en">


<head th:replace="public/head::head('专家视角')"></head>

<body>
<header th:replace="public/header3"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>
    <section>
        <section>
            <div class="gray-bg">
                <div class="wrapper">
                    <div class="page-title">
                        <h3>专家视角</h3>
                    </div>
                    <div class="meetingOrder-result-grid-wrap">
                        <a href="">
                            <div class="meetingOrder-result-grid-item">
                                <img th:src="@{/images/zhxx-gjwl-img4.png}" alt="">
                                <div class="tit">
                                    <h4>2021上海合作组织国际投资贸易博览会暨上海合作组织地方经贸合作青岛论...</h4>
                                </div>
                                <p>2022年07月11日</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="meetingOrder-result-grid-item">
                                <img th:src="@{/images/zhxx-gjwl-img2.png}" alt="">
                                <div class="tit">
                                    <h4>2021上海合作组织国际投资贸易博览会暨上海合作组织地方经贸合作青岛论...</h4>
                                </div>
                                <p>2022年07月11日</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="meetingOrder-result-grid-item">
                                <img th:src="@{/images/zhxx-gjwl-img4.png}" alt="">
                                <div class="tit">
                                    <h4>2021上海合作组织国际投资贸易博览会暨上海合作组织地方经贸合作青岛论...</h4>
                                </div>
                                <p>2022年07月11日</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </section>
        <section>
            <div class="wrapper">
                <ul>
                    <li>
                        <a href="" class="meetingOrder-experts-li">
                            <p class="t1">上合示范区领导拜访俄罗斯石油股份公司和俄罗斯铝业联合公司驻华代表处</p>
                            <p class="t2">上合示范区着力推动的国别中心项目正加速建设。2月22日，巴基斯坦中心项目推进专题会在上合示范区上合服务中心召开。上合示范区着力推动的国别中心项目正加速建设。2月22日，巴基斯坦中心项目推进专题会在上合示范区上合服务中心召开。</p>
                            <p class="t3">2022年07月11日</p>
                        </a>
                    </li>
                    <li>
                        <a href="" class="meetingOrder-experts-li">
                            <p class="t1">上合示范区领导拜访俄罗斯石油股份公司和俄罗斯铝业联合公司驻华代表处</p>
                            <p class="t2">上合示范区着力推动的国别中心项目正加速建设。2月22日，巴基斯坦中心项目推进专题会在上合示范区上合服务中心召开。上合示范区着力推动的国别中心项目正加速建设。2月22日，巴基斯坦中心项目推进专题会在上合示范区上合服务中心召开。</p>
                            <p class="t3">2022年07月11日</p>
                        </a>
                    </li>
                    <li>
                        <a href="" class="meetingOrder-experts-li">
                            <p class="t1">上合示范区领导拜访俄罗斯石油股份公司和俄罗斯铝业联合公司驻华代表处</p>
                            <p class="t2">上合示范区着力推动的国别中心项目正加速建设。2月22日，巴基斯坦中心项目推进专题会在上合示范区上合服务中心召开。上合示范区着力推动的国别中心项目正加速建设。2月22日，巴基斯坦中心项目推进专题会在上合示范区上合服务中心召开。</p>
                            <p class="t3">2022年07月11日</p>
                        </a>
                    </li>
                    <li>
                        <a href="" class="meetingOrder-experts-li">
                            <p class="t1">上合示范区领导拜访俄罗斯石油股份公司和俄罗斯铝业联合公司驻华代表处</p>
                            <p class="t2">上合示范区着力推动的国别中心项目正加速建设。2月22日，巴基斯坦中心项目推进专题会在上合示范区上合服务中心召开。上合示范区着力推动的国别中心项目正加速建设。2月22日，巴基斯坦中心项目推进专题会在上合示范区上合服务中心召开。</p>
                            <p class="t3">2022年07月11日</p>
                        </a>
                    </li>
                    <li>
                        <a href="" class="meetingOrder-experts-li">
                            <p class="t1">上合示范区领导拜访俄罗斯石油股份公司和俄罗斯铝业联合公司驻华代表处</p>
                            <p class="t2">上合示范区着力推动的国别中心项目正加速建设。2月22日，巴基斯坦中心项目推进专题会在上合示范区上合服务中心召开。上合示范区着力推动的国别中心项目正加速建设。2月22日，巴基斯坦中心项目推进专题会在上合示范区上合服务中心召开。</p>
                            <p class="t3">2022年07月11日</p>
                        </a>
                    </li>
                    <li>
                        <a href="" class="meetingOrder-experts-li">
                            <p class="t1">上合示范区领导拜访俄罗斯石油股份公司和俄罗斯铝业联合公司驻华代表处</p>
                            <p class="t2">上合示范区着力推动的国别中心项目正加速建设。2月22日，巴基斯坦中心项目推进专题会在上合示范区上合服务中心召开。上合示范区着力推动的国别中心项目正加速建设。2月22日，巴基斯坦中心项目推进专题会在上合示范区上合服务中心召开。</p>
                            <p class="t3">2022年07月11日</p>
                        </a>
                    </li>
                    <li>
                        <a href="" class="meetingOrder-experts-li">
                            <p class="t1">上合示范区领导拜访俄罗斯石油股份公司和俄罗斯铝业联合公司驻华代表处</p>
                            <p class="t2">上合示范区着力推动的国别中心项目正加速建设。2月22日，巴基斯坦中心项目推进专题会在上合示范区上合服务中心召开。上合示范区着力推动的国别中心项目正加速建设。2月22日，巴基斯坦中心项目推进专题会在上合示范区上合服务中心召开。</p>
                            <p class="t3">2022年07月11日</p>
                        </a>
                    </li>

                </ul>
                <div>swiper</div>
            </div>

        </section>
        <section>
            <style>
                .pagger {
                    padding: 44px 0px;
                }
            </style>
            <div class="pagger">
                <div class="wrapper">

                </div>
            </div>
        </section>
    </section>
<footer th:replace="public/footer"></footer>

    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

    <script src="js/jquery.countup.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/qing.js"></script>
</body>

</html>