<!DOCTYPE html>
<html lang="en">


<head th:replace="public/head::head('智能通关')"></head>

<body>
<header th:replace="public/header2"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>

    <section>
        <section>
            <div class="wrapper">
                <div class="page-title">
                    <h3>智能通关</h3>
                </div>
                <div class="pass-grid-wrap">
                    <a href="https://www.singlewindow.cn/#/parameter" target="_blank" class="pass-grid-item">
                        <p> 通关参数应用查询</p>
                        <i class="iconfont icon-bltg-right"></i>
                    </a>
                    <a href="http://117.73.255.161:9080/shsw/" target="_blank" class="pass-grid-item">
                        <p> 中国-单一窗口上合专区</p>
                        <i class="iconfont icon-bltg-right"></i>
                    </a>
                    <a href="http://117.73.255.161:9080/ICS/" target="_blank" class="pass-grid-item">
                        <p> 关务综合信息服务</p>
                        <i class="iconfont icon-bltg-right"></i>
                    </a>
                    <a href="/54" class="pass-grid-item">
                        <p>通知公告</p>
                        <i class="iconfont icon-bltg-right"></i>
                    </a>
                </div>
                <div class="mt60">
                    <h4 class="detail-content-title  mb20">什么是通关便利化</h4>
                    <p class="detail-content-text text-indent"> 检验检疫绿色通道制度是指，对于诚信度高、产品质量保障体系健全、质量稳定、具有较大出口规模的生产经营企业(含高新技术企业、加工贸易企业)，经国家质量监督检验检疫总局审查核准，对符合条件的出口货物实行产地检验检疫合格，口岸检验检疫机构免于查验的放行管理模式”。</p>
                    <p class="detail-content-text text-indent">按照原有的检验检疫规定，所有出口法检货物均应在产地实施检验检疫，由产地检验检疫局签发换证凭单，出口商凭换证凭单向出境口岸检验检疫局申请出具出境货物通关单，口岸检验检疫局按照相对比例进行口岸查验。查验一般需要1—2 d的时间。查验后，认为货物与单证相符，口岸检验检疫局签发出境货物通关单，出口商或其代理人凭此向海关申报。对于检验检疫机构来讲，进行口岸查验，是对货物的有效监管，严格执法可以杜绝出口货物以次充好，或逃漏报检等现象。但对于出口商来讲，无疑又增加了一道手续，花费了时间，产生了费用。在企业适应市场竞争，不断追求零库存、交货时间越来越短的情况下，通关速度和时间日益成为企业最关注的问题。构筑新型的便捷通关模式，提高口岸工作效率，是检验检疫系统执法和服务的重要任务。</p>
                    <p class="detail-content-text text-indent">国家质检总局十分重视全系统在口岸通关中的工作效率，在加强和改进检验检疫监管工作实施“走出去”战略扩大出口的措施中，明确提出积极推行出口企业绿色通道制度，以提高通关速率，服务外贸企业。</p>
                </div>
                <div class="mt60">
                    <h4 class="detail-content-title  mb20">无纸化</h4>
                    <p class="detail-content-text text-indent"> 为为进一步推进大通关建设，检验检疫机构从提高通关速度人手，积极探索“无纸化”检验检疫验放模式，简化报检手续，缩短了检验检疫时间。“无纸化”报检是指企业在进行出口货物申报时，只需通过电子报检平台报送电子信息，以电子数据替代书面物理单证。检验检疫局有关部门可依据电子报检数据完成受理报检、施检、签发检验检疫结果和通关单等各环节的工作，省去了人工传递物理单证的时间，节省了大量的人力物力，使诚信企业享受到从报检到打印通关单几分钟内一站式的服务。 实现了企业从报检到报关的全程无纸化对接，检验检疫部门生成通关单电子数据后，海关可以通过通关单电子联网核查系统收到相关的电子信息，外贸企业就可以直接进行报关手续了J。</p>
                </div>
                <div class="mt60">
                    <h4 class="detail-content-title  mb20">虚拟口岸</h4>
                    <p class="detail-content-text text-indent"> 为了解决内陆口岸与实际港口之间存在的物流通关规模和速度的瓶颈效应，国家质检总局实施了“虚拟口岸，直通放行”的新型通关模式，为进出口货物开辟了第二通道。“虚拟口岸”模式对于货物进口而言，是指口岸检验检疫机构不实施检验检疫，货物直运至目的地，由目的地检验检疫机构实施检验检疫的放行方式；对于出口货物而言，是指经产地检验检疫机构检验检疫合格后，企业可凭产地检验检疫机构签发的通关单在报关地海关直接办理通关手续的放行方式。</p>
                    <p class="detail-content-text text-indent">“虚拟口岸，直通放行”模式加快了进出口货物的区间流转速度，有效降低了企业的进出口物流作业成本，提高了进出口企业的通关速度。</p>
                </div>
                <div class="pass-img1">
                    <img th:src="@{/images/bltg-img.png}" alt="">
                </div>
            </div>
        </section>

    </section>

<footer th:replace="public/footer"></footer>


    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

    <script src="js/jquery.countup.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/qing.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script>
    </script>
</body>

</html>