<!DOCTYPE html>
<html lang="en">


<head th:replace="public/head::head('电子税收')"></head>

<body>
<header th:replace="public/header2"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>

    <section>
        <section>
            <div class="wrapper">
                <div class="wrapper">
                    <div class="tax-header">
                        <h3>税收减免规则智慧引擎</h3>
                        <p>在全面深化财税体制改革、落实税收法定原则以及“放管服”改革等背景下，利用“互联网+”技术及智能化手段，梳理税收政策，开展税务管理，是企业发展的必然趋势。</p>
                        <a href="http://117.73.255.161:9080/fta/" target="_blank">
                            <div class="theme-button">[[#{Learnmore}]]</div>
                        </a>
                    </div>
                    <img class="tax-img1" src="/images/dzsw-img.png" alt="">
                </div>
            </div>
        </section>
        <section>
            <div class="gray-bg">
                <div class="wrapper">
                    <p class="tax-title">[[#{CorporateTaxRefundService}]]</p>
                    <div class="tax-grid-wrap">
                        <div class="tax-grid-item">
                            <img src="/images/tax1.png" alt="">
                            <h4>[[#{CorporateTaxRefundService}]]</h4>
                            <a href="https://etax.qingdao.chinatax.gov.cn:7553/sso/login?service=https%3A%2F%2Fetax.qingdao.chinatax.gov.cn%2Fportal%2F" target="_blank">
                                <div class="theme-button">[[#{Learnmore}]]</div>
                            </a>
                        </div>
                        <div class="tax-grid-item">
                            <img src="/images/tax2.png" alt="">
                            <h4>[[#{ElectronicTaxService}]]</h4>
                            <a href="https://etax.qingdao.chinatax.gov.cn:7553/sso/login?service=https%3A%2F%2Fetax.qingdao.chinatax.gov.cn%2Fportal%2F" target="_blank">
                                <div class="theme-button">[[#{Learnmore}]]</div>
                            </a>
                        </div>
                        <div class="tax-grid-item">
                            <img src="/images/tax3.png" alt="">
                            <h4>[[#{Taxlevelinquiry}]]</h4>
                            <a href="http://hd.chinatax.gov.cn/nszx/InitCredit.html" target="_blank">
                                <div class="theme-button">[[#{Learnmore}]]</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="wrapper">
                <div class="trade-list-item">
                    <img src="images/dzsw-img4.png" alt="">
                    <div class="trade-list-item-info">
                        <p class="t1">远程可视化核查</p>
                        <p class="t2">在全面深化财税体制改革、落实税收法定原则以及“放管服”改革等背景下，利用“互联网+”技术及智能化手段，梳理税收政策，开展税务管理，是企业发展的必然趋势。</p>
                        <a class="mt20 theme-button" href="https://etax.qingdao.chinatax.gov.cn:7553/sso/login?service=https%3A%2F%2Fetax.qingdao.chinatax.gov.cn%2Fportal%2F" target="_blank">[[#{Learnmore}]]</a>
                    </div>
                </div>
                <div class="trade-list-item">
                    <div class="trade-list-item-info">
                        <p class="t1">海关证明材料上传</p>
                        <p class="t2">在全面深化财税体制改革、落实税收法定原则以及“放管服”改革等背景下，利用“互联网+”技术及智能化手段，梳理税收政策，开展税务管理，是企业发展的必然趋势。</p>
                        <a class="mt20 theme-button" href="http://hd.chinatax.gov.cn/nszx/InitCredit.html" target="_blank">[[#{Learnmore}]]</a>
                    </div>
                    <img src="/images/dzsw-img5.png" alt="">
                </div>
            </div>
        </section>

    </section>

<footer th:replace="public/footer"></footer>

    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

    <script src="js/jquery.countup.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/qing.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script>
    </script>
</body>

</html>