<!DOCTYPE html>
<html lang="en">
<head th:replace="common/head::head(${view.name})"></head>

<body>
<header th:replace="common/header::header(${currentNavList},${breadCrumb})"></header>
<section th:replace="common/search"></section>
<section th:replace="common/nav"></section>
<section>
    <div class="wrapper news">
        <div class="sound-list-wrap">
            <div class="page-title flexbox _content-sb">
                <h3>[[${view.name}]]</h3>
            </div>

            <div class="article_list">

                <div class="article_list__main">
                    <a class="article_list__item" th:href="@{'/article/'+${view.id}+'/'+${article.id}}"  th:each="article, articleStat : ${articleList.records}" >
                        <div class="article_list__item__body">
                            <div class="article_list__item__title">[[${article.title}]]</div>
                            <div class="article_list__item__description ellipsis2">[[${article.description}]]</div>
                            <div class="article_list__item__datetime">[[${#dates.format(article.createTime,'yyyy年MM月dd日')}]]</div>
                        </div>
                    </a>
                </div>
            </div>


        </div>
    </div>
    <div th:replace="common/pagination::pagination(${articleList},'')"></div>
</section>
<footer th:replace="common/footer"></footer>
</body>
</html>