<div id="parameterLeft" class="el-col">
    <div class="tool">
        <div class="tab-list-wrap">

            <ul id="menu_ul" class="tab-list">
                <li class="active"><a href="/parameterSearch">商品编码查询</a></li>
                <li><a href="/parameterChange">商编变更明细查询</a></li>
                <li><a href="/elementSearch">申报要素变更查询</a></li>
                <li><a href="javascript:void(0);">币制代码查询</a></li>
                <li><a href="javascript:void(0);">监管方式查询</a></li>
                <li><a href="javascript:void(0);">运输方式查询</a></li>
                <li><a href="javascript:void(0);">计量单位查询</a></li>
                <li><a href="javascript:void(0);">包装种类查询</a></li>
                <li><a href="javascript:void(0);">成交方式查询</a></li>
                <li><a href="javascript:void(0);">征免性质查询</a></li>
                <li><a href="javascript:void(0);">关区代码查询</a></li>
                <li><a href="javascript:void(0);">国别地区查询</a></li>
                <li><a href="javascript:void(0);">国内地区代码查询</a></li>
                <li><a href="javascript:void(0);">行政区划代码查询</a></li>
                <li><a href="javascript:void(0);">归类实例查询</a></li>
                <li><a href="javascript:void(0);">单耗标准查询</a></li>
                <li><a href="javascript:void(0);">外汇汇率查询</a></li>
                <li><a href="javascript:void(0);">3C认证查询</a></li>
                <li><a href="javascript:void(0);">加贸禁止类查询</a></li>
                <li><a href="javascript:void(0);">加贸限制类查询</a></li>
                <li><a href="javascript:void(0);">通关禁止类查询</a></li>

            </ul>
        </div>
    </div>
</div>