<footer th:fragment="footer">
        <div class="cons">
            <div class="foot-top">
                <div class="btn-group">
                    <button class="btn btn-default btn-sm dropdown-toggle pr" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        中国政府网 <span class="caret1">
                            <img src="img/v.png" alt="">
                        </span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">中国政府网</a>
                        </li>
                        <li>
                            <a href="">中国政府网</a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default btn-sm dropdown-toggle pr" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        国务院部门 <span class="caret1">

                            <img src="img/v.png" alt="">
                        </span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">国务院部门</a>
                        </li>
                        <li>
                            <a href="">国务院部门</a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default btn-sm dropdown-toggle pr" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        地方政策 <span class="caret1">

                            <img src="img/v.png" alt="">
                        </span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">地方政策</a>
                        </li>
                        <li>
                            <a href="">地方政策</a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default btn-sm dropdown-toggle pr" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        直属海关 <span class="caret1">

                            <img src="img/v.png" alt="">
                        </span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">直属海关</a>
                        </li>
                        <li>
                            <a href="">直属海关</a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default btn-sm dropdown-toggle pr" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        世界海关组织 <span class="caret1">

                            <img src="img/v.png" alt="">
                        </span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">世界海关组织</a>
                        </li>
                        <li>
                            <a href="">世界海关组织</a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default btn-sm dropdown-toggle pr" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        社会团体 <span class="caret1">
                            <img src="img/v.png" alt="">
                        </span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">社会团体</a>
                        </li>
                        <li>
                            <a href="">社会团体</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="foot-bot">
                <div class="le">
                    <div class="foot-lj ">
                        <a href="">[[#{Aboutus}]] <span>|</span></a>
                        <a href="">网站管理 <span>|</span></a>
                        <a href="">设为首页 <span>|</span></a>
                        <a href="">加入收藏 <span>|</span></a>
                        <a href="">联系方式 <span>|</span></a>
                        <a href="">使用帮助 <span>|</span></a>
                        <a href="">[[#{Sitemap}]] <span>|</span></a>
                    </div>
<!--                    <div class="foot-bq">-->
<!--                        主办：青岛市人民政府办公室 承办：青岛市数字建设办公室-->
<!--                        <br />网站标识码：3505820021 鲁ICP备05010753号 鲁公网安备 35058202000114号-->
<!--                    </div>-->
                </div>
                <div class="tr">
                    <a href="">
                        <img th:src="@{/img/17.png}" alt="">
                    </a>
                    <a href="">
                        <img th:src="@{/img/16.png}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </footer>