<header class="m-head" th:fragment="header">
  <div class="h-wrap wrapper">
    <div class="h-top">
      <div class="h-logo">
        <img th:src="@{/img/main_logo.png}" alt="">
      </div>
      <div class="luange-div tr">
        <a href="">中文</a>
        <a href="">РУС</a>
        <a href="">ENG</a>
        <span class="sou-img ds">
                        <i class="iconfont ds icon-fangdajing"></i>
                    </span>
        <a href="javascript:;" id="mNavShowBtn">
          <i class="iconfont icon-daohang"></i> [[#{Navigation}]]
        </a>
      </div>
    </div>
    <div class="h-fot">
      <ul class="crumbs">
        <li><i class="iconfont icon-daohang"></i></li>
        <li><a href="/temp/templateslates/temp/public">首页</a></li>
        <!--                <li><a href="http://">综合信息</a></li>-->
        <!--                <li><a href="http://">头部企业</a></li>-->
      </ul>
      <div class="h-fot-nav">
        <a href="/home/meetingOrder">[[#{OnlineReceptionRoom}]]</a>
        <a href="/home/meeting_reserve">会议室预定</a>
        <a href="/home/meeting_service">上合讲堂服务</a>
        <a href="/home/meeting_experts">专家视角</a>
        <a href="/home/meeting_results">会议成果展示</a>
      </div>
    </div>

  </div>
</header>