<section class="m-nav" id="mNav" th:fragment="nav">
    <div class="wrapper">
        <div class="m-nav-wrap clearfix">
            <div class="m-nav-close" id="mNavCloseBtn">
                <i class="iconfont icon-guanbi"></i>
            </div>
            <div class="m-nav-logo fl">
                <img src="./img/nav_logo.png">
            </div>
            <div class="m-nav-menu fr clearfix ">
                <div class="m-nav-menu-item fl">
                    <h5>[[#{ComprehensiveDataRelease}]]</h5>
                </div>
                <div class="m-nav-menu-item fl">
                    <h5>中国-单一窗口上合专区</h5>
                </div>
                <div class="m-nav-menu-item fl">
                    <h5>[[#{ComprehensiveFunctionApplication}]]</h5>
                    <ul>
                        <li><a href="http://">便利通关</a></li>
                        <li><a href="http://">智能物流</a></li>
                        <li><a href="http://">外贸撮合</a></li>
                        <li><a href="http://">电子税务</a></li>
                        <li><a href="http://">金融赋能</a></li>
                        <li><a href="http://">网上宴会厅</a></li>
                        <li><a href="http://">综合服务</a></li>
                    </ul>
                </div>
                <div class="m-nav-menu-item fl">
                    <h5>综合信息</h5>
                    <ul>
                        <li><a href="http://">时政要闻</a></li>
                        <li><a href="http://">研究成果</a></li>
                        <li><a href="http://">建设成果</a></li>
                        <li><a href="http://">新区之窗</a></li>
                        <li><a href="http://">风险分析</a></li>
                        <li><a href="http://">经贸动态</a></li>
                        <li><a href="http://">国家国情图解</a></li>
                        <li><a href="http://">新区之声</a></li>
                        <li><a href="http://">贸易合作</a></li>
                    </ul>
                </div>
                <div class="m-nav-menu-item fl">
                    <h5>新闻政策</h5>
                    <ul>
                        <li><a href="http://">通知公告</a></li>
                        <li><a href="http://">新闻资讯</a></li>
                        <li><a href="http://">政策法规</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>