<!DOCTYPE html>
<html lang="en">
<head th:replace="common/head::head(${view.name})"></head>

<body>
<header th:replace="common/header::header(${currentNavList},${breadCrumb})"></header>
<section th:replace="common/search"></section>
<section th:replace="common/nav"></section>
<div class="wrapper flexbox _content-sb _items-mid">
    <div class="flexbox">
        <div class="page-title2">
            <h3>[[#{CommercialLegalServices}]]</h3>
        </div>
        <p class="law-wrap law-desc">在全面深化财税体制改革、落实税收法定原则以及“放管服”改革等背景下，利用“互联网+”技术及智能化手段，梳理税收政策，开展税务管理，是企业发展的必然趋势。</p>
    </div>
    <a href="https://www.scolegal.com/home" target="_blank">
        <div class="theme-button">[[#{Learnmore}]]</div>
    </a>
</div>
<div class="wrapper">
    <div class="law-img1 mt60">
        <img src="/images/zhfw-img1.png" alt="">
    </div>
    <div class="law-text mt50">
        <p class="text-indent">近日，中共中央办公厅、国务院办公厅印发《关于推进实施国家文化数字化战略的意见》。该意见聚焦战略目标和战略重点，对战略路径和步骤作出重点部署，是推动实施国家文化数字化战略、建设国家文化大数据体系的框架性、指导性文件。</p>
        <p class="text-indent mt10">文化数字化，是让文化更“活”更火的重要途径，是要通过创造性转化、创新性发展使文化产品让老百姓“百看不厌”“惊喜不断”。实施国家文化数字化战略，将如何丰富我们未来的文化生活？新华社记者采访了有关专家。</p>
        <p class="text-indent mt10">谈到这一意见出台的意义，中国文化产业协会副会长范周表示，意见的出台解决了目前文化数字化的四梁八柱问题，是实现党领导下数字文化治理的系统工程。</p>
        <p class="text-indent mt10">意见明确，到“十四五”时期末，基本建成文化数字化基础设施和服务平台，形成线上线下融合互动、立体覆盖的文化服务供给体系。到2035年，建成物理分布、逻辑关联、快速链接、高效搜索、全面共享、重点集成的国家文化大数据体系，中华文化全景呈现，中华文化数字化成果全民共享。</p>
        <p class="text-indent mt10">中宣部文改办原副主任、一级巡视员高书生说，中华文化全景呈现，是实施国家文化数字化战略的最终目标。要实现这一目标，首先需要统筹利用已建或在建数字化工程和数据库所形成的成果，全面梳理中华文化资源，提取具有历史传承价值的中华文化元素、符号和标识，丰富中华民族文化基因的当代表达。</p>
    </div>
</div>
<footer th:replace="common/footer"></footer>
</body>
</html>