<!DOCTYPE html>
<html lang="en">
<head th:replace="common/head::head(${view.name})"></head>

<body>
<div class="sco-hbt-head">
<header th:replace="common/header::header(${currentNavList},${breadCrumb})"></header>
</div>
<section th:replace="common/search"></section>
<section th:replace="common/nav"></section>
<section>
    <div class="wrapper pb60">
        <div class="top-pic">
<!--            <div class="tips">-->
<!--                <div class="tips-item"><p>智能高效</p></div>-->
<!--                <div class="tips-item"><p>安全合规</p></div>-->
<!--                <div class="tips-item"><p>灵活便捷</p></div>-->
<!--            </div>-->
            <div class="tips-name-1">
<!--                上合跨境结算系统-->
                上合跨境结算系统
            </div>
            <div class="tips-name-2">
                一站式跨境结算服务平台
            </div>
            <div class="tips-btn" id="btn">
                <a href="funapp-finance-cross-border-home">进入系统</a>
            </div>
<!--            <div class="shadow" id="shadow">-->
<!--                <div class="model">-->
<!--&lt;!&ndash;                    <div class="tit">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="close" id="model-close">关闭</div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                    &lt;!&ndash;<iframe src="http://trusple-trade&#45;&#45;default.dev.alipay.net/trade/user/buyer/home?lang=zh"></iframe>&ndash;&gt;-->
<!--&lt;!&ndash;                    <iframe class="content" width="50%" height="300" src="funapp-finance-CPIC-1.html"></iframe>&ndash;&gt;-->
<!--                    <a href="funapp-finance-cross-border-trusple"></a>-->
<!--                    <iframe src="funapp-finance-CPIC-1" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <div class="top-sub">
            <div>什么是跨境结算?</div>
            <div>为全球商家提供跨境交易的一站式服务。集合订单管理、交易履约、外汇资金等，旨在为出口企业提供确定性的跨境结算服务。</div>
        </div>

        <div class="middle-pic">
            <div class="middle-pic-title">我们的优势</div>
            <div class="middle-pic-card">
                <div class="middle-pic-card-item">
                    <img src="/images/finance/icon-1.png">
                    <div>轻松起草订单，高效管理</div>
                </div>
                <div class="middle-pic-card-item">
                    <img src="/images/finance/icon-2.png">
                    <div>灵活跨境收款管理，便捷操作</div>
                </div>
                <div class="middle-pic-card-item">
                    <img src="/images/finance/icon-3.png">
                    <div>无忧资金管理，安全合规</div>
                </div>
            </div>
        </div>

        <div class="bottom-pic">
            <div class="bottom-pic-title">常见问题</div>
            <div class="bottom-pic-item">
                <div class="bottom-pic-item-q">
                    1、什么类型的企业可以使用该服务?
                </div>
                <div class="bottom-pic-item-a">
                    答：境内进出口外贸企业。
                </div>
            </div>
            <div class="bottom-pic-item">
                <div class="bottom-pic-item-q">
                    2、使用上合跨境结算系统需要提供哪些材料?
                </div>
                <div class="bottom-pic-item-a">
                    答：首先需要注册认证:提供企业营业执照、法代身份证信息及股东信息进行注册认证提交，工作人员会在1-2个工作日内审核，审核通过即可以正常登录使用。
                </div>
            </div>
            <div class="bottom-pic-item">
                <div class="bottom-pic-item-q">
                    3、如何确认是否注册认证成功呢?
                </div>
                <div class="bottom-pic-item-a">
                    答：注册认证提交之后，审核通过会邮件及短信形式发送至法代联系人邮箱告知认证通过。
                </div>
            </div>
            <div class="bottom-pic-item">
                <div class="bottom-pic-item-q">
                    4、该系统提供哪些服务?
                </div>
                <div class="bottom-pic-item-a">
                    答：为境内商家提供线上外贸订单操作和管理、外贸订单收款和资金结算、客户信息隐私保护等服务。
                </div>
            </div>
            <div class="bottom-pic-item">
                <div class="bottom-pic-item-q">
                    5、支持哪些收款方式?
                </div>
                <div class="bottom-pic-item-a">
                    答：目前支持TT全球多币种收款账户、不久即会支持TT跨境人民币收款账户。
                </div>
            </div>
            <div class="bottom-pic-item">
                <div class="bottom-pic-item-q">
                    如有更多问题，请联系客服
                </div>
            </div>
        </div>
    </div>

</section>
<footer th:replace="common/footer"></footer>
</body>
</html>