<!DOCTYPE html>
<html lang="en">
<head th:replace="common/head::head(${view.name})"></head>

<body>
<!--<div class="express-separate-head">-->
  <header th:replace="common/header::header(${currentNavList},${breadCrumb})"></header>
<!--</div>-->
<section th:replace="common/search"></section>
<section th:replace="common/nav"></section>
<section>
  <div class="wrapper express-separate-wrapper">
    <div class="flexbox _content-sb">
      <div class="page-title">
        <h3>
          [[#{MultimodalTransportintegratedServicePlatfom}]]
        </h3>
      </div>
      <a id="openUrlOwner" th:onclick="commonLinkUrl('owner')" target="_blank">
        <div class="theme-button" style="width: max-content;">
          [[#{EnterthesystemOwner}]]
        </div>
      </a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a id="openUrlAgent" th:onclick="commonLinkUrl('agent')" target="_blank">
        <div class="theme-button" style="width: max-content;">
          [[#{EnterthesystemAgent}]]
        </div>
      </a>
    </div>
    <div class="mt40">
      <p class="detail-content-text text-indent">
        [[#{Themultimodaltransportcomprehensiveserviceplatform1}]]
      </p>
      <br />
      <p class="detail-content-text text-indent">
        [[#{Themultimodaltransportcomprehensiveserviceplatform}]]
      </p>
    </div>
    <div class="express-separate-img1">
      <img src="/images/express-s-11.png" alt="" />
    </div>
    <div class="express-simplex-bottom">
      <h4>
        [[#{FeatureDisplay}]]
      </h4>
      <div class="flexbox _content-sb expose">
        <div class="express-simplex-info">
          <img src="/images/express-s-12.png" alt="" />
          <h5>
            [[#{Efficientcoordinationofsea,land,airandrailway}]]
          </h5>
          <p class="detail-content-text">
            [[#{Throughtheintegrationofbusinessflows,dataflows,cap}]]
          </p>
        </div>
        <div class="express-simplex-info">
          <img src="/images/express-s-13.png" alt="" />
          <h5>
            [[#{Satelliteempoweredsupervisionofintermodal}]]
          </h5>
          <p class="detail-content-text">
            [[#{Deeplyintegratenew-generationinformationtechnologi}]]
          </p>
        </div>
      </div>
      <div class="flexbox _content-sb mt40 expose">
        <div class="express-simplex-info">
          <img src="/images/express-s-14.png" alt="" />
          <h5>
            [[#{Visualtrackingandsupervisionthroughouttheprocess}]]
          </h5>
          <p class="detail-content-text">
            [[#{Throughtheconnectionwithrailways,highways,ships,an}]]
          </p>
        </div>
        <div class="express-simplex-info">
          <img src="/images/express-s-15.png" alt="" />
          <h5>
            [[#{Dataanalysisservice}]]
          </h5>
          <p class="detail-content-text">
           [[#{Deepencooperationwithcentralenterprisesindifferent}]]
          </p>
        </div>
      </div>
    </div>
    <div class="express-separate-bottom">
      <h4>
        [[#{Advancedtechnology}]]
      </h4>
      <ul id="accordion" class="accordion mt20">
        <li class="accordion-item">
          <div class="tit is-active">
            <p>
             [[#{Highlyinnovativelogisticstechnologyandplatform-bas}]]
            </p>
            <i class="iconfont icon-Vector-top"></i>
          </div>
          <p class="desc is-active">
            [[#{Logisticstechnologymakesfulluseofsatelliteconstell}]]
          </p>
        </li>
        <li class="accordion-item">
          <div class="tit">
            <p>
              [[#{Standardizedandrefinedbusinessoperations}]]
            </p>
            <i class="iconfont icon-Vector-down"></i>
          </div>
          <p class="desc">
            [[#{Standardizethebusinessoperationprocess,clarifythek}]]
          </p>
        </li>
        <li class="accordion-item">
          <div class="tit">
            <p>
              [[#{One-stopcustomerservice,one-ordersystemonline}]]
            </p>
            <i class="iconfont icon-Vector-down"></i>
          </div>
          <p class="desc">
            [[#{ConductthenationalInternetstrategybuildacompre}]]
          </p>
        </li>
        <li class="accordion-item">
          <div class="tit">
            <p>
              [[#{Integrationofoperationmanagementandcontrol}]]
            </p>
            <i class="iconfont icon-Vector-down"></i>
          </div>
          <p class="desc">
            [[#{Strengthenthecoordination,management,supervisionan}]]
          </p>
        </li>
        <li class="accordion-item">
          <div class="tit">
            <p>
              [[#{Dataizationofstrategicdecision-making}]]
            </p>
            <i class="iconfont icon-Vector-down"></i>
          </div>
          <p class="desc">
           [[#{Withthecollaborationofsupplychainandlogistics,ande}]]
          </p>
        </li>
        <li class="accordion-item">
          <div class="tit">
            <p>
              [[#{Ecologicalbusinesscollaboration}]]
            </p>
            <i class="iconfont icon-Vector-down"></i>
          </div>
          <p class="desc">
            [[#{Withthecollaborationofsupplychainandlogistics,ande}]]
          </p>
        </li>
        <li class="accordion-item">
          <div class="tit">
            <p>
              [[#{Innovativetransactionmatchingmechanism}]]
            </p>
            <i class="iconfont icon-Vector-down"></i>
          </div>
          <p class="desc">
            [[#{Gatherpallets,ships,andvehiclecapacityinformation}]]
          </p>
        </li>
        <li class="accordion-item">
          <div class="tit">
            <p>
              [[#{Intelligentrecommendationofintermodalsolutions}]]
            </p>
            <i class="iconfont icon-Vector-down"></i>
          </div>
          <p class="desc">
            [[#{Comprehensivelyconsiderseasonalfactors,plusthetran}]]
          </p>
        </li>
      </ul>
    </div>
  </div>
  <script th:inline="javascript">
    // 改进版本的手风琴菜单效果
    $('#accordion .tit').click(function () {
      $(this).addClass('is-active');
      $(this).find('.iconfont').removeClass('icon-Vector-down').addClass('icon-Vector-top')
      $(this).parent().siblings('li').find('.tit').removeClass('is-active')
      $(this).parent().siblings('li').find('.desc').slideUp();
      $(this).parent().siblings('li').find('.iconfont').removeClass('icon-Vector-top').addClass('icon-Vector-down')
      $(".accordion-img").attr('src', '')
    });

    function getCookie(cookieName) {
      const strCookie = document.cookie
      const cookieList = strCookie.split(';')

      for (let i = 0; i < cookieList.length; i++) {
        const arr = cookieList[i].split('=')
        if (cookieName === arr[0].trim()) {
          return arr[1]
        }
      }
      return ''
    }

    const adminToken = getCookie('Admin-Token')
    const ssoScodamotOwnerUrl = [[${ssoScodamotOwnerUrl}]];
    const ssoScodamotAgentUrl = [[${ssoScodamotAgentUrl}]];
    const scodamotMainUrl = [[${scodamotMainUrl}]];
    const ssoMainUrl =  [[${ssoMainUrl}]];
    const ssoRegisterUrl = [[${ssoRegisterUrl}]];
    const langSession = [[${lang_session}]];

    commonLinkUrl = function (type) {
      const loginType = type;
      let roleCode = 'role_cargo_agent';
      let roleName = '货代';
      if (langSession === 'en_US'){
        roleName = "freight forwarders";
      }else if(langSession === 'ru_RU'){
        roleName = "экспедитор";
      }
      if(type=='owner'){
        roleCode = 'role_cargo_owner';
        roleName = '货主';
        if (langSession === 'en_US'){
          roleName = "cargo owners";
        }else if(langSession === 'ru_RU'){
          roleName = "Владелец";
        }
      }

      if(adminToken==null || adminToken===''){
        if(loginType=='owner'){
          bm.commonLinkUrl2(scodamotMainUrl, "多式联运综合服务平台")
        }else{
          if (langSession === 'zh_CN') {
            swal('您尚未登录，请先登录！');
          } else if (langSession === 'en_US') {
            swal('You are not logged in, please log in first!');
          } else if (langSession === 'ru_RU') {
            swal('Вы еще не вошли в систему, пожалуйста, войдите первым!');
          }
        }
      }else{
        $.ajax({
          url: ssoMainUrl+'/cas/isLoginAndRole?client_id=20240002&role_code='+roleCode,
          type: 'get',
          contentType: 'application/json',
          dataType: 'json',
          beforeSend: function (request) {
            request.setRequestHeader("Authorization", "Bearer "+adminToken)
          },
          success: function (res) {
            if (res.code=='200') {
              if(res.data.hasRole=='1'){
                //如果用户有权限则直接跳转
                if(loginType=='owner'){
                  bm.commonLinkUrl2(ssoScodamotOwnerUrl+"&Admin-Token="+adminToken,"多式联运综合服务平台")
                }else{
                  bm.commonLinkUrl2(ssoScodamotAgentUrl+"&Admin-Token="+adminToken,"多式联运综合服务平台")
                }
              }else{
                //如果用户没权限则提示是否进行认证，如果进行认证则直接代角色编码过去，直接选中
                let tip, cancel, sure
                if (langSession === 'zh_CN') {
                  tip = '您还未进行'+roleName+'认证，是否前往认证?'
                  cancel = '取消'
                  sure = '确认'
                } else if (langSession === 'en_US') {
                  tip = 'You have not been certified by the '+roleName+'. Do you want to go to the certification?'
                  cancel = 'Cancel'
                  sure = 'Confirm'
                } else if (langSession === 'ru_RU') {
                  tip = 'Вы еще не прошли '+roleName+'сертификацию, вы идете на сертификацию?'
                  cancel = 'Отменить'
                  sure = 'Подтверждение'
                }
                swal(tip, {
                  buttons: [cancel, sure],
                }).then((btn) => {
                  sessionStorage.setItem("tip", true);
                  if (btn) {
                    if(loginType=='owner'){
                      roleCode='role_cargo_owner_ent';
                    }
                    window.open(ssoRegisterUrl+'/company/approve?roleCode='+roleCode+"&Admin-Token="+adminToken,'_blank');
                  }
                });
              }
            } else {
              if(loginType=='owner') {
                bm.commonLinkUrl2(scodamotMainUrl, "多式联运综合服务平台");
              }else{
                if (langSession === 'zh_CN') {
                  swal('您尚未登录，请先登录！');
                } else if (langSession === 'en_US') {
                  swal('You are not logged in, please log in first!');
                } else if (langSession === 'ru_RU') {
                  swal('Вы еще не вошли в систему, пожалуйста, войдите первым!');
                }
              }
            }
          }
        })
      }

    }

  </script>
</section>
<footer th:replace="common/footer"></footer>
</body>
</html>