<!DOCTYPE html>
<html lang="en">
<head th:replace="common/head::head(${view.name})"></head>

<body>
<header th:replace="common/header::header(${currentNavList},${breadCrumb})"></header>
<section th:replace="common/search"></section>
<section th:replace="common/nav"></section>
<section >
  <div class="wrapper manageServices">
    <div class="talent-affairs-detail-header mt60">
      <div class="title">【法规文件】转发：关于印发外国人在青岛工作管理服务暂行办法的通知</div>
      <div class="share-wrap">
        <div class="share-item">
          <p>发布日期：2022-01-14 </p>
        </div>
      </div>
      <table class="talent-table" border="1">
        <tr>
          <td>制发机关</td>
          <td>青岛市人民政府办公厅</td>
          <td>成文日期</td>
          <td>2021-12-31</td>
        </tr>
        <tr>
          <td>文件字号</td>
          <td>青政办发〔2021〕20号</td>
          <td>生效日期</td>
          <td>2022-02-01</td>
        </tr>
        <tr>
          <td>索引号</td>
          <td>813520220114090000</td>
          <td>失效日期</td>
          <td>长期有效</td>
        </tr>
        <tr>
          <td>政策咨询部门</td>
          <td>青岛市政府办公厅</td>
          <td>有无政策解读</td>
          <td>有</td>
        </tr>
        <tr>
          <td>政策咨询电话</td>
          <td>12345</td>
          <td>规范性文件登记号</td>
          <td>无</td>
        </tr>
        <tr>
          <td>文章标题</td>
          <td colspan="3">法规文件】转发：关于印发外国人在青岛工作管理服务暂行办法的通知</td>
        </tr>

      </table>
      <div class="desc clearfix">
        <p>各区、市人民政府，青岛西海岸新区管委，市政府各部门，市直各单位：</p>
        <p class="text-indent">《外国人在青岛工作管理服务暂行办法》已经市政府研究同意，现印发给你们，请认真贯彻执行。</p>
        <div class="t2">
          <p>青岛市人民政府办公厅 </p>
          <p> 2021年12月31日</p>
        </div>
      </div>

    </div>
    <style>
      .talent-affairs-detail-content h4 {
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        text-align: center;
        padding: 20px 0 36px 0;
      }

      .talent-affairs-detail-content p {
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: #666666;
        padding: 14px 0;
      }
    </style>
    <div class="talent-affairs-detail-content">
      <h5>（此件公开发布）</h5>
      <h4>外国人在青岛工作管理服务暂行办法</h4>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第一条为了进一步规范外国人在青岛工作管理服务，吸引外国人才来青岛创新创业，推动国际化创新型城市和创业城市建设，根据法律法规和相关规定，结合我市实际，制定本办法。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第二条本办法适用于在青工作的外国人及聘用外国人的用人单位（以下简称“用人单位”）。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第三条本办法所称在青工作的外国人，是指年满18周岁，不具有中国国籍，身体健康，无犯罪记录，具有来我市工作所需的专业知识和专业技能，依法从事生产、教学、科研、管理、服务等社会劳动的自然人。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第四条本办法所称用人单位是指在我市行政区域内，符合国家、省和我市相关规定，依法聘用外国人的各类用人单位。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第五条市科技（外专）、外事、公安等部门是外国人在青工作、居留的主管部门，依据相关法律法规和本办法，按照各自职责负责在我市工作的外国人及用人单位的管理和服务。教育、人力资源社会保障、市场监管等相关部门在各自职责范围内依法履行外国人在青工作的管理和服务职能。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第六条在青工作的外国人分为外国高端人才（A类）、外国专业人才（B类）和其他外国人员（C类），实行分类管理和服务。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第七条外国高端人才（A类）是指我市经济社会发展急需的科学家、科技领军人才、国际企业家、专门特殊人才等“高精尖缺”外国人。外国高端人才（A类）年龄、学历、工作经历不受限制。主要包括：
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; （一）符合国家、省相关文件中关于外国高端人才（A类）标准的；
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; （二）取得“山东惠才卡”或符合青岛市高层次人才分类目录标准的外国人才；
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; （三）市级及以上科技计划项目的第一负责人；
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; （四）市级及以上实验室、重点实验室、技术创新中心、临床医学中心、新型研发机构等重大科技创新平台聘请的具有高级管理或技术职务的人员；
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; （五）高新技术企业董事长、法定代表人、总经理或首席技术专家。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第八条外国专业人才（B类）是指符合外国人来华工作指导目录和岗位需求，属于我市经济社会事业发展急需的外国专业人才。外国专业人才（B类）年龄不受限制。主要包括：
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; （一）符合国家、省相关文件中关于外国专业人才（B类）标准的；
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; （二）平均工资收入不低于我市上年度社会平均工资收入3倍的外国人才；
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; （三）在青岛创办企业、实际出资额不低于50万元人民币的外籍投资人。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第九条 其他外国人员（C类）是指满足我市劳动力市场需求，符合国家有关政策规定的其他外国人员。其他外国人员数量限制严格按照国家有关规定执行。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第十条中国（山东）自由贸易试验区青岛片区、中国—上海合作组织地方经贸合作示范区可根据国家、省有关规定，结合实际制定符合自身需求的外国人才分类认定标准。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第十一条外国人在青工作，应当按照规定取得工作许可和工作类居留证件。聘用在境外的外国人来青工作的，用人单位及外国人应按照以下程序办理：
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; （一）用人单位向市科技（外专）部门申请外国人工作许可通知；
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; （二）外国人本人持外国人工作许可通知等材料向中国驻外使馆、领馆等驻外签证机关申请办理工作签证；
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; （三）用人单位持工作签证和相关材料向市科技（外专）部门申请办理外国人工作许可证；
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; （四）外国人本人持外国人工作许可证等材料向公安机关出入境管理部门申请办理工作类居留证件。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 已在境内且符合相关条件的外国人，可直接在境内申请办理外国人工作许可证。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第十二条申请外国人工作许可通知免去纸质材料核验环节，在外国人办理工作许可证时一并核验纸质材料；办理外国人来青工作许可延期、变更、补遗、注销时，不再核验纸质材料。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第十三条在华工作的外国人变换用人单位，工作类居留许可在有效期内的或已注销换成其他停留证件1个月内的，转聘到青岛新办工作许可时，工作资历证明（从事岗位、职业变动的除外）、最高学位证书及认证、无犯罪记录证明、体检证明等材料可以按规定采用承诺制。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第十四条外国高端人才（A类）根据其合同、护照有效期可给予最长不超过5年期限的工作许可及工作类居留许可；其中，以工资收入申请工作许可，暂无法提供纳税证明的，按照外国高端人才准入，首次许可期限不超过1年，延期时核验纳税证明。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第十五条外国专业人才（B类）根据其合同、护照有效期，首次可给予最长不超过2年期限的工作许可及工作类居留许可，延期时，许可期限最长不超过5年。其中，以工资收入申请工作许可，暂无法提供纳税证明的，按照外国专业人才准入，首次许可期限不超过1年，延期时核验纳税证明。超过60周岁的外国专业人才，可给予最长不超过1年的工作许可及工作类居留许可。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第十六条已获得永久居留资格或持有工作类居留许可的外国高端人才在青工作，用人单位可为其外籍科研团队成员及1名外籍家政服务人员，申请办理与外国高端人才相同期限的工作许可和工作类居留许可。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第十七条在我国高校取得学士及以上学位的优秀外国留学生毕业2年内来青创新创业的，持学校相关推荐材料，可免除工作经验要求申请外国人来华工作许可和工作类居留许可。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第十八条在中国（山东）自由贸易试验区青岛片区、中国—上海合作组织地方经贸合作示范区范围内，允许外国人才在创业期内通过市级以上主管部门批准的园区、孵化器、众创空间等平台载体申办最长不超过6个月的工作许可和工作类居留许可。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第十九条在青工作外国人的合法权益受法律保护，依法保障其享有投资、医疗、金融服务、子女入学、交通出行等权益。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第二十条在青工作的外国人，符合相关条件的，可推荐参与实施国家、省、市科技或人才类计划项目并享受相关政策。对我市经济社会发展作出重要贡献、成就突出的外国人，依法依规给予表彰和奖励，并可推荐其参评中国政府友谊奖、齐鲁友谊奖等奖项。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第二十一条对持有A、B类外国人来华工作许可且长期在青工作的外国人，在办理换用汇业务时可提供便利化服务。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第二十二条外国人与用人单位发生劳动争议时，按照法律法规等规定协商解决，或者依法通过调解、仲裁、诉讼等途径解决。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第二十三条在青工作的外国人应依法与用人单位签订聘用合同，依法缴纳个人所得税，并按规定参加社会保险。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第二十四条任何单位和个人不得聘用未取得工作许可和工作类居留证件的外国人。外国人未按照规定取得工作许可和工作类居留证件，或超出工作许可限定期限和范围在青工作的，由市科技（外专）、公安等相关主管部门依法依规予以处理。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第二十五条单位和个人在申请工作许可及工作类居留证件时存在隐瞒真实情况、提供虚假材料等情形的，由市科技（外专）、公安等相关主管部门按规定纳入诚信管理，并依法依规予以处理。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第二十六条单位和个人涂改、出租、出借、倒卖或以其他形式非法转让工作许可和工作类居留证件的，由市科技（外专）、公安等相关主管部门依法依规予以处理。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第二十七条各相关主管部门应当建立信息共享机制，依据相关规定开展外国人在青工作联合检查，对存在违规行为的用人单位探索建立约谈机制，加强信用管理和事中事后监管。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第二十八条在中国享有外交特权与豁免的人员不适用于本办法。
      </p>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第二十九条本办法自2022年2月1日起施行，有效期至2024年1月31日。
      </p>
      <p>
        <br/>
      </p>
    </div>

  </div>
</section>
<footer th:replace="common/footer"></footer>
</body>
</html>