<!DOCTYPE html>
<html lang="en">

<head th:replace="public/head::head('智库服务-国别风险分析报告')"></head>

<body>
<header th:replace="public/header4"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>
    <section>
        <section>
            <div class="wrapper">
                <div class="page-title">
                    <h3>国别风险分析报告</h3>
                </div>
                <div class="idea-report-detail-header">
                    <div class="idea-report-detail-img">
                        <img src="../images/cover1 1.png" alt="">
                    </div>
                    <div class="idea-report-detail-info">
                        <h4>2022国别风险深度调研预测报告</h4>
                        <div class="third-share-wrap mt20">
                            <div class="share-icon">
                                <p>分享：</p>
                                <img src="../images/wechat.png" alt="">
                                <img src="../images/weibo.png" alt="">
                                <img src="../images/facebook.png" alt="">
                                <img src="../images/twitter.png" alt="">
                                <img src="../images/instagram.png" alt="">
                            </div>
                        </div>
                        <p class="detail-content-text">
                            在俄罗斯石油股份公司驻华代表处，郝国新与俄罗斯石油股份公司驻华首席代表科罗波夫等俄方代表进行座谈，双方就共同推动上合示范区打造“一带一路”能源国际合作新平台及下步具体合作方案交换了意见。
                            <br><br>在俄罗斯铝业联合公司驻华代表处，郝国新与俄罗斯铝业联合公司驻华首席代表多波尔科夫、俄铝中国公司总经理康斯坦丁等俄方代表进行座谈，双方就在上合示范区设立软件研发合作中心，及未来围绕IT、文旅、金融、农业、物流、贸易、科技等领域合作等方面进行深入交流。
                        </p>
                        <div class="theme-button">资料下载</div>
                    </div>
                </div>


                <div class="page-title">
                    <h4>报告大纲</h4>
                </div>
                <div>
                    <p class="detail-content-text">
                        <br><br>在俄罗斯石油股份公司驻华代表处，郝国新与俄罗斯石油股份公司驻华首席代表科罗波夫等俄方代表进行座谈，双方就共同推动上合示范区打造“一带一路”能源国际合作新平台及下步具体合作方案交换了意见。
                        <br><br> 在俄罗斯铝业联合公司驻华代表处，郝国新与俄罗斯铝业联合公司驻华首席代表多波尔科夫、俄铝中国公司总经理康斯坦丁等俄方代表进行座谈，双方就在上合示范区设立软件研发合作中心，及未来围绕IT、文旅、金融、农业、物流、贸易、科技等领域合作等方面进行深入交流。 在俄罗斯石油股份公司驻华代表处，郝国新与俄罗斯石油股份公司驻华首席代表科罗波夫等俄方代表进行座谈，双方就共同推动上合示范区打造“一带一路”能源国际合作新平台及下步具体合作方案交换了意见。
                        <br><br> 在俄罗斯铝业联合公司驻华代表处，郝国新与俄罗斯铝业联合公司驻华首席代表多波尔科夫、俄铝中国公司总经理康斯坦丁等俄方代表进行座谈，双方就在上合示范区设立软件研发合作中心，及未来围绕IT、文旅、金融、农业、物流、贸易、科技等领域合作等方面进行深入交流。
                        <br><br> 在俄罗斯石油股份公司驻华代表处，郝国新与俄罗斯石油股份公司驻华首席代表科罗波夫等俄方代表进行座谈，双方就共同推动上合示范区打造“一带一路”能源国际合作新平台及下步具体合作方案交换了意见。 在俄罗斯铝业联合公司驻华代表处，郝国新与俄罗斯铝业联合公司驻华首席代表多波尔科夫、俄铝中国公司总经理康斯坦丁等俄方代表进行座谈，双方就在上合示范区设立软件研发合作中心，及未来围绕IT、文旅、金融、农业、物流、贸易、科技等领域合作等方面进行深入交流。
                    </p>
                </div>

            </div>

        </section>


    </section>
<footer th:replace="public/footer"></footer>

    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

    <script src="js/jquery.countup.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/qing.js"></script>
</body>

</html>