<!DOCTYPE html>
<html lang="en">

<head th:replace="public/head::head('[[#{Thinktankservice}]]')"></head>

<body>
<header th:replace="public/header4"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>

    <section>
        <div class="wrapper">
            <div class="pt60 flexbox _content-sb _items-mid">
                <div class="idea-img1">
                    <img th:src="@{/images/zhfw-img-person.png}" alt="">
                </div>
                <div class="idea-text idea-ctx">
                    <h3 class="convention-title">高端智库</h3>
                    <p class="text-indent mt20"> 7月1日，上合示范区党工委委员、管委会副主任郝国新带队赴北京拜访中国科学院国家创新与发展战略研究会，与中国科学院国家创新与发展战略研究会副会长冯炜进行座谈，共同探讨如何发挥上合示范区优势，拓展与上合组织国家能源、农业、贸易、物流等领域交流合作，更好打造“一带一路”国际合作新平台。</p>
                    <p class="text-indent mt5">郝国新表示，中国科学院国家创新与发展战略研究会作为国际间合作的桥梁和纽带，在促进国际间经济合作、与国外智库、政府、研究机构、社会团体在各产业领域建立联系方面有深厚基础。上合示范区将加强与研究会的交流合作，充分发挥各自资源禀赋，挖掘与上合组织国家及“一带一路”沿线国家的合作潜力，共同推进现代化上合新区建设。</p>
                    <!--                        <div>-->
                    <!--                            swiper-pagination-->
                    <!--                        </div>-->
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="page-title">
                <h3>委员会动态</h3>
                <a href=" ">
                    <!-- <i class="iconfont icon-more"></i> -->
                    <div class="theme-button">[[#{Learnmore}]]</div>
                </a>
            </div>
            <div class="flexbox _content-sb mt40 pb60">
                <div class="idea-img-wrap flexbox _wrap _content-sb">


                    <a href="#" class="idea-img-item scale">
                        <div class="img">
                            <img src="../images/zhxx-gjwl-img4.png" alt="">
                        </div>
                        <p class="idea-item-title ellipsis2"> 2021欧亚经济论坛10月18日上午在古城西安隆重开幕</p>
                        <p class="idea-item-desc"> 2022年07月11日</p>

                    </a>
                    <a href="#" class="idea-img-item scale">
                        <div class="img">
                            <img src="../images/idea-img1.jpg" alt="">
                        </div>
                        <p class="idea-item-title ellipsis2"> 上合示范区发展专家咨询委员会第二次全体会议召开</p>
                        <p class="idea-item-desc"> 2022年07月11日</p>

                    </a>
                    <a href="#" class="idea-img-item scale">
                        <div class="img">
                            <img src="../images/idea-img2.jpg" alt="">
                        </div>
                        <p class="idea-item-title ellipsis2"> 上合示范区聘8位“招商大使”，他们是...</p>
                        <p class="idea-item-desc"> 2022年07月11日</p>
                    </a>
                    <a href="#" class="idea-img-item scale">
                        <div class="img">
                            <img src="../images/idea-img3.jpg" alt="">
                        </div>
                        <p class="idea-item-title ellipsis2"> 上合示范区发展专家咨询委员会成立仪式在青岛胶州举行</p>
                        <p class="idea-item-desc"> 2022年07月11日</p>

                    </a>
                </div>
                <div class="idea-ctx-wrap">
                    <ul>
                        <li>
                            <a href="#" class="idea-ctx-item">
                                <p class="idea-item-title ellipsis1">建设富有上合特色的制度创新体系 上合示范区制度创新座谈会召开</p>
                                <p class="idea-item-desc">2022年07月11日</p>
                            </a>
                        </li>
                        <li>
                            <a class="idea-ctx-item">
                                <p class="idea-item-title ellipsis1">上合示范区应邀参加第25届圣彼得堡国际经济论坛“俄罗斯-中国”商务对话会</p>
                                <p class="idea-item-desc">2022年07月11日</p>
                            </a>
                        </li>
                        <li>
                            <a class="idea-ctx-item">
                                <p class="idea-item-title ellipsis1">上合示范区举行青岛-俄罗斯国家日古利科技园线上推介洽谈会</p>
                                <p class="idea-item-desc">2022年07月11日</p>
                            </a>
                        </li>
                        <li>
                            <a class="idea-ctx-item">
                                <p class="idea-item-title ellipsis1">上合示范区发出赴俄罗斯中欧班列（齐鲁号）重点企业定制化专列</p>
                                <p class="idea-item-desc">2022年07月11日</p>
                            </a>
                        </li>
                        <li>
                            <a class="idea-ctx-item">
                                <p class="idea-item-title ellipsis1">2021上海合作组织国际投资贸易博览会暨上海合作组织地方经贸合作青岛论...</p>
                                <p class="idea-item-desc">2022年07月11日</p>
                            </a>
                        </li>
                        <li>
                            <a class="idea-ctx-item">
                                <p class="idea-item-title ellipsis1">2021上海合作组织国际投资贸易博览会暨上海合作组织地方经贸合作青岛论...</p>
                                <p class="idea-item-desc">2022年07月11日</p>
                            </a>
                        </li>
                        <li>
                            <a class="idea-ctx-item">
                                <p class="idea-item-title ellipsis1">提升城市功能品质，彰显国际化特色——李刚调研示范区核心区酒店项目</p>
                                <p class="idea-item-desc">2022年07月11日</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="gray-bg">
            <div class="wrapper">
                <div class="page-title">
                    <h3>国别风险分析报告</h3>
                    <a href="/cs/idea_report">
                        <!-- <i class="iconfont icon-more"></i> -->
                        <div class="theme-button">[[#{Learnmore}]]</div>
                    </a>
                </div>
                <div class="idea-img-wrap2 mt40 pb60">
                    <a href="/cs/idea_report_details">
                        <div class="idea-img-item2 scale">
                            <div class="img-wrap img">
                                <img src="../images/cover1 1.png" alt="">
                            </div>
                            <p class="idea-item-title ellipsis1"> 2022国别风险深度调研预测报告</p>
                        </div>
                    </a>
                    <a href="/cs/idea_report_details">
                        <div class="idea-img-item2 scale">
                            <div class="img-wrap img">
                                <img src="../images/cover1 1.png" alt="">
                            </div>
                            <p class="idea-item-title ellipsis1"> 2022国别风险深度调研预测报告</p>
                        </div>
                    </a>
                    <a href="/cs/idea_report_details">
                        <div class="idea-img-item2 scale">
                            <div class="img-wrap img">
                                <img src="../images/cover1 1.png" alt="">
                            </div>
                            <p class="idea-item-title ellipsis1"> 2022国别风险深度调研预测报告</p>
                        </div>
                    </a>
                    <a href="/cs/idea_report_details">
                        <div class="idea-img-item2 scale">
                            <div class="img-wrap img">
                                <img src="../images/cover1 1.png" alt="">
                            </div>
                            <p class="idea-item-title ellipsis1"> 2022国别风险深度调研预测报告</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="page-title">
                <h3>定制国别分析报告</h3>
                <a href="/cs/idea_custom_report">
                    <!-- <i class="iconfont icon-more"></i> -->
                    <div class="theme-button">[[#{Learnmore}]]</div>
                </a>
            </div>
            <div class="idea-img-wrap3 flexbox _wrap _content-sb mt40 pb60">
                <a href="/cs/idea_custom_report_details">
                    <div class="idea-img-item3 scale">
                        <div class="img">
                            <img src="../images/zhfw-report-img.png" alt="">
                        </div>
                        <p class="idea-item-title ellipsis1"> 定制国别风险深度分析报告</p>
                        <p class="idea-item-desc ellipsis2"> 定制国别风险深度分析报告定制国别风险深度分析报告定制国别风险深度分析报告</p>
                    </div>
                </a>
                <a href="/cs/idea_custom_report_details">
                    <div class="idea-img-item3 scale">
                        <div class="img">
                            <img src="../images/zhfw-report-img.png" alt="">
                        </div>
                        <p class="idea-item-title ellipsis1"> 定制国别风险深度分析报告</p>
                        <p class="idea-item-desc ellipsis2"> 定制国别风险深度分析报告定制国别风险深度分析报告定制国别风险深度分析报告</p>
                    </div>
                </a>
                <a href="/cs/idea_custom_report_details">
                    <div class="idea-img-item3 scale">
                        <div class="img">
                            <img src="../images/zhfw-report-img.png" alt="">
                        </div>
                        <p class="idea-item-title ellipsis1"> 定制国别风险深度分析报告</p>
                        <p class="idea-item-desc ellipsis2"> 定制国别风险深度分析报告定制国别风险深度分析报告定制国别风险深度分析报告</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="gray-bg">
            <div class="wrapper">
                <div class="page-title">
                    <h3>上合组织国家数据图示</h3>
                    <a href="/cs/idea_report_data">
                        <!-- <i class="iconfont icon-more"></i> -->
                        <div class="theme-button">[[#{Learnmore}]]</div>
                    </a>
                </div>
                <div class="idea-img2 mt60">
                    <img src="../images/Frame 396.png" alt="">
                </div>
            </div>
        </div>
    </section>
<footer th:replace="public/footer"></footer>

    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

    <script src="js/jquery.countup.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/qing.js"></script>
</body>

</html>