<!DOCTYPE html>
<html lang="en">



<head th:replace="public/head::head('[[#{ForeignAffairsDesk}]]')"></head>

<body>
<header th:replace="public/header4"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>

    <section>
        <div class="gray-bg">
            <div class="wrapper">
                <div class="page-title">
                    <h3>[[#{ForeignAffairsDesk}]]</h3>
                </div>
                <div class="mt30 pb50">
                    <div class="talent-affairs-img-item">
                        <div class="img1">[[#{PermitServiceforForeignersVisitingChina1}]]</div>
                        <div class="img2">[[#{VisaServiceforForeigners1}]]</div>
                    </div>
                    <div class="talent-affairs-img-item">
                        <div class="img3">[[#{StudentEnrollmentServiceforForeignChildren1}]]</div>
                        <div class="img4">[[#{OtherServices1}]]</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="talent-affairs-bottom-wrap">
                <img src="../images/affairs5.png" alt="">
                <div class="talent-affairs-bottom-info">
                    <h4>[[#{InterimMeasuresforAdministrationandServicesofForei}]]</h4>
                    <p class="detail-content-text">[[#{Article1Inordertofurtherregulatetheworkmanagements}]]</p>
                    <a href="/cs/talent_affairs_detail">
                        <div class="theme-button">[[#{Learnmore}]]</div>
                    </a>
                </div>
            </div>
        </div>


    </section>
<footer th:replace="public/footer"></footer>

    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

    <script src="js/jquery.countup.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/qing.js"></script>

    <script>
    </script>
</body>

</html>