<!DOCTYPE html>
<html lang="en">



<head th:replace="public/head::head('[[#{translationservice}]]')"></head>

<body>
<header th:replace="public/header4"></header>
<section th:replace="public/search"></section>
<section th:replace="public/nav"></section>

    <section>
        <div class="wrapper">
            <div class="page-title">
                <h3>[[#{translationservice}]]</h3>
            </div>
            <div class="flexbox _content-sb mt60">
                <div class="translate-item">
                    <div class="icon">
                        <i class="iconfont icon-zhfw-icon1"></i>
                    </div>
                    <p class="translate-sub mt30">母语听写译能力</p>
                    <p class="translate-text mt10">拥有丰富的听写译经验，熟悉源语言发音习惯娴熟的翻译技巧，速度快，质量高</p>
                </div>
                <div class="translate-item">
                    <div class="icon">
                        <i class="iconfont icon-zhfw-icon2"></i>
                    </div>
                    <p class="translate-sub mt30">文稿准确又流畅</p>
                    <p class="translate-text mt10">专业译者确保文稿语法表达没有错误，术语词汇更是精确到位</p>
                </div>
                <div class="translate-item">
                    <div class="icon">
                        <i class="iconfont icon-zhfw-icon4"></i>
                    </div>
                    <p class="translate-sub mt30">服务质量有保障</p>
                    <p class="translate-text mt10">拥有音视频转录专员、音视频翻译人员、视频压制工程师等组成的专职服务团队</p>
                </div>
            </div>

            <div class="translate-img1 mt40">
                <a href="https://www.iflyrec.com/html/translate.html" target="_blank">
                    <div class="white-button">[[#{Learnmore}]]</div>
                </a>
            </div>
        </div>


    </section>
<footer th:replace="public/footer"></footer>

    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/jquery-2.1.1.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/wow.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/swiper.animate1.0.3.min.js"></script>
    <script src="//js-boooming.oss-accelerate.aliyuncs.com/js/bootstrap.min.js"></script>

    <script src="js/jquery.countup.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/qing.js"></script>
</body>

</html>